[2018-12-02 15:44] ritwik12 opened #3 "Broken link in README.md"
Link for `Image Classification` appears to be broken.

[2018-12-03 11:13] #3 closed

[2018-12-22 03:06] rankeey opened #12 "release time"
hi, when will community finalize tf-trt and release a stable version?

[2019-01-02 19:52] pooyadavoodi commented on #12
Stable version has been available since TF 1.12. If you've encountered specific issues, please create an issue at https://github.com/tensorflow/tensorflow with the log file attached and further details and/or submit a patch with a pull request.

[2019-01-02 19:52] #12 closed

[2019-01-14 14:41] bleedingfight opened #14 "tensorrt ie not enable"
I want to use tensorrt optimize my ssd models.but when I use the code like this:
[code]
something like this:
[code]
my env:
- tensorflow1.10 source compiled
- python 3.5.5(Anaconda 4.2.0)
- Linux amax-Super-Server 4.13.0-32-generic #35~16.04.1-Ubuntu SMP Thu Jan 25 10:13:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- tensorrt tar `/usr/local/TensorRT-5.0.2.6`
- cuda9.1 cudnn7.1.4

I have installed t

[2019-01-14 17:04] pooyadavoodi commented on #14
You would need to enable TensorRT when you compile Tensorflow.

Also,  Tensorflow 1.10 is old. Could you try the latest version 1.13. There has been quite a lot of bug fixes since 1.10.

[2019-01-15 01:11] bleedingfight commented on #14
@pooyadavoodi
Can you tell me what cuda can support tensorflow?I just try clone tenorflow from github and try compile it.but something wrong.so I just compile old version fron least-1.10.
My env:
- tensorrt5.0.2.6
- cuda9.1
- cudnn7.1.4

[2019-01-15 13:21] xusworld opened #16 "No TRTEngineOp"
after trt.create_inference_graph() , still no "TRTEngineOp", why?

[2019-01-17 06:50] pooyadavoodi commented on #16
There could be many different reasons. It's hard to say without having more details such as a log, scripts, models, etc.

[2019-01-17 06:53] pooyadavoodi commented on #14
Both CUDA 9 and 10 work with TF.

You should report the Tensorflow compilation issues at tensorflow/tensorflow.

[2019-01-31 07:27] rankeey opened #20 "how to export tensorrt int8 model with savedmodel format after calibration for tf-serving？"
as the latest doc shows, we can call create_inference_graph with parameter input_saved_model_dir and output_saved_model_dir to export a savedModel model.
If use int8 qutization，it seems that after create_inference_graph，we still need call calib_graph_to_infer_graph to export the final model and the result is a frozen model.
So...

1. Is it possible to export a savedModel int8 model after calibrati

[2019-02-14 06:42] #16 closed

[2019-02-14 06:43] #14 closed

[2019-02-14 09:16] funkyyyyyy opened #25 "run_calibration argument not used in run function"
The run function is in tensorrt/tftrt/examples/image-classification/image_classification.py

[2019-02-22 06:12] #20 closed

[2019-03-07 08:08] lutianfei opened #32 "why the run function parameter run_calibration was never used?"
Hello, I am very curious that why the run_calibration parameter in the run method was never used?
So, I'm interested to see if the calibration function really works, especially if I switch to a different model

[2019-03-10 18:59] pooyadavoodi commented on #32
Thanks for filing the issue. We need to remove `run_calibration` argument.
It was only used to detect which files to read which wasn't a good way. It was used before when `run` was expecting `data_dir`, but now it expects `data_files`.

Calibration has been tested with many image classification models and it works: https://docs.nvidia.com/deeplearning/dgx/integrate-tf-trt/index.html#verified-model

[2019-03-10 19:02] pooyadavoodi commented on #32
Removed the redundant argument.

@lutianfei Thanks for reporting this.

[2019-03-10 19:02] #32 closed

[2019-03-13 10:26] lbingbing opened #33 "map does not match the numbers in models project"
1. download the project and add project root to $PYTHONPATH.
2. I add a line to bypass optimization step:
[code]
3. my config file ssd_inception_v2_coco.json
[code]
instances_minival2014.json is from https://dl.dropboxusercontent.com/s/o43o90bna78omob/instances_minival2014.json.zip?dl=0
4. then run
python -m tftrt.examples.object_detection.test ssd_inception_v2_coco.json
5. result
 Average Precisi

[2019-03-14 06:56] xhzhao opened #40 "object detection accuracy bug: mAP does not match with the tensorflow released data"
we tried to repeate the tf pretrained model accuracy on tensorrt, and we found that the "ssd_inception_v2_coco" accuracy on tensorrt is not the same as the tensorflow released data:(24 vs 27)
could you help to find out why?

see tensorflow release data [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md)

![image](https://user-images.githu

[2019-03-14 07:31] IvyGongoogle opened #41 "attr 'half_pixel_centers' not in Op<name=ResizeBilinear; signature=images:T, size:int32 -> resized_images:float"
hello, I  open a `tensorflow/serving` according to  [this](https://medium.com/tensorflow/optimizing-tensorflow-serving-performance-with-nvidia-tensorrt-6d8a2347869a)
after I do `Convert and serve the model with TF-TRT`, finally when I run `python /tmp/resnet/resnet_client.py`, the `tensorflow/serving` shows error:

[code]

how to fix it? anyone can give some advises?

[2019-03-14 17:27] pooyadavoodi commented on #25
It's fixed now. Thanks for reporting the issue.

[2019-03-14 17:27] #25 closed

[2019-03-14 17:34] pooyadavoodi commented on #33
You are getting better mAP (0.27 vs. 0.24).
Could be due to using minival instead of val?

As a separate note, you are not using TF-TRT because your optimization config is empty.
You would need something like this:

[code]

[2019-03-14 17:35] pooyadavoodi commented on #33
The difference could be also because that table from tensorflow/models is kind of old. Perhaps if you try to reproduce those numbers, you get different results.

[2019-03-14 17:36] pooyadavoodi commented on #40
The difference could be also because that table from tensorflow/models is kind of old. Perhaps if you try to reproduce those numbers, you get different results.

Also make sure you use the same validation data set.

[2019-03-14 17:37] pooyadavoodi commented on #41
Perhaps you need to regenerate the graph with the same version of TF that you are using to run it?

[2019-03-15 02:36] lbingbing commented on #33
I'm using 2014 minival according to this issue:
https://github.com/tensorflow/models/issues/6261

I emptied optimization config because I want to see result of origin model without fp16 optimization.

[2019-03-15 02:37] lbingbing commented on #33
Thanks. Maybe it is the reason.

[2019-03-15 03:38] lbingbing commented on #33
I just tried val2014 (40k+ images) without fp16 opt config and still got map of 27.5

[2019-03-17 12:45] IvyGongoogle commented on #41
@pooyadavoodi thanks for your reply. Now I use the newest `tensorflow-gpu 2.0.0a0` to train a `resnet-50` model  using  the [tutorial ](https://github.com/tensorflow/models/tree/master/official/resnet). Then I optimize my `resnet-50`graph by running:

[code]
it shows error:

[code]
and the dir ` /tmp/resnet-50_trt/xxx/variables/` is empty, which has no `variables.data-00000-of-00001` and  `variabl

[2019-03-19 09:37] IvyGongoogle opened #44 "You must feed a value for placeholder tensor 'import/input_tensor' with dtype string and shape"
first, I download `resnet_v2_fp32_savedmodel_NHWC_jpg` saved_model from [blog](https://medium.com/tensorflow/optimizing-tensorflow-serving-performance-with-nvidia-tensorrt-6d8a2347869a)

then, I run a example provided in nvidia documents about trt-tf [here](https://docs.nvidia.com/deeplearning/dgx/integrate-tf-trt/index.html#using-savedmodel) :

[code]

but it shows error:

[code]
how to fix it?

[2019-03-20 10:34] isra60 opened #45 "Segmentation fault when optimize model."
Currently I'm trying with ssd_mobilenet_v2_coco with an NVIDIA 1060GTX.

I have tensorflow-gpu v1.13., CUDA10. TensorRT 5.
I've downloaded the model with

`config_path, checkpoint_path = download_model('ssd_mobilenet_v2_coco', output_dir='models')`

I'm trying to optimize the model. with
[code]
But always provokes a segmentation fault.. this is the log console.

`2019-03-20 11:26:09.152490: I tens

[2019-03-20 12:57] 88madri commented on #45
Also the log with gdb.

`Thread 1 "python3" received signal SIGSEGV, Segmentation fault.
0x00007fff68d60261 in tensorflow::tensorrt::convert::GetDeviceAndAllocator(tensorflow::tensorrt::convert::ConversionParams const&, tensorflow::tensorrt::convert::EngineInfo const&) ()
   from /usr/local/lib/python3.6/dist-packages/tensorflow/contrib/tensorrt/_wrap_conversion.so
(gdb) bt
#0  0x00007fff68d60261

[2019-03-22 07:26] xhzhao commented on #40
we aligned the validation dataset with tensorflow model zoo, but the accuracy still does not match.
https://github.com/tensorflow/models/blob/master/research/object_detection/data/mscoco_minival_ids.txt

my config:
{
  "source_model": {
    "model_name": "ssd_inception_v2_coco",
    "output_dir": "models"
  },
  "optimization_config": {
    "use_trt": false,
    "precision_mode": "FP32",
    "forc

[2019-03-23 10:50] #44 closed

[2019-03-23 11:02] IvyGongoogle commented on #41
need help...

[2019-03-25 17:22] pooyadavoodi commented on #41
Could you share the TF Log of the conversion?

+@aaroey

[2019-03-25 17:28] aaroey commented on #41
Hi @IvyGongoogle, its expected that the variables/ dir is empty since TF-TRT converts all the variables to constants and embeds them in the graph (aka saved_model.pb). But, did you encounter any errors because of that?

[2019-03-25 17:58] pooyadavoodi commented on #40
Could you remove the following items from the config file and retry:

[code]

Also, have you tried to use the scripts from tensorflow/models to reproduce that mAP. Perhaps the model has changed and that mAP can't be reproduced by this model?

[2019-03-28 09:11] IvyGongoogle commented on #41
@pooyadavoodi @aaroey  as you said, TF-TRT converts all the variables to constants and embeds them in the graph (aka saved_model.pb). Now this  `saved_model.pb` can be serving by tensorflow serving, but I am just wondering why only a single frozen graph pb file can be served by tensorflow serving?

[2019-03-28 09:46] MirkoArnold1 commented on #45
Same here. You can avoid the segfault by setting `force_nms_cpu` to False. It would be helpful to get some information about with which versions of tensorflow, cuda and tensorrt these examples were tested. Is tensorrt 5.x supported?

[2019-03-28 10:15] 88madri commented on #45
Thanks! Do you know what this setting does?.

I'm also testing with my jetson tx2 with the last Jetpack which is using also TensorRT 5 and CUDA 10 (Also tensorflow 1.13.1) And there seems that ssd_mobilenet_v2 optimize is working...

[2019-03-28 12:33] MirkoArnold1 commented on #45
I did some more tests:
1. Using the official nvidia tensorflow docker image 19.03-py3, I tried the object detection example with the version of this repo that is included in the docker image --> It worked fine, no errors
2. From the same docker image (but a different container), I cloned this repo and tried the object detection example --> Segmentation Fault

1 and 2 both had the same hardware con

[2019-03-28 13:53] 88madri commented on #45
mmm. interesting...
Have you tried with this Repo?
https://github.com/NVIDIA-AI-IOT/tf_trt_models

[2019-03-28 13:54] MirkoArnold1 commented on #45
This is the commit nvidia used in the docker image: d2c28ffb775f8b550541fbde7061caf3daf14375
I just checked it out manually, did the setup and it worked fine

[2019-03-28 13:55] MirkoArnold1 commented on #45
@88madri no, I'm not working with a Jetson platform

[2019-03-28 14:06] aaroey commented on #41
@IvyGongoogle not sure if I understand your question. A SavedModel contains the GraphDef, input/output signatures and other metadata, and optional variables and other assets. It's more than a frozen graph pb file which is only a serialized GraphDef.

Since the original problem is solved I'm closing this issue, feel free to reopen if there are any questions. Thanks.

[2019-03-28 14:06] #41 closed

[2019-03-28 14:15] MirkoArnold1 commented on #45
`minimum_segment_size=50` was changed to `minimum_segment_size=2`. This is causing the segmentation fault

[2019-03-28 14:26] 88madri commented on #45
yeah I think is this commit right?
https://github.com/tensorflow/tensorrt/commit/950811e386a6b82da5609eb045ddc7260bef062e

[2019-04-01 20:07] pooyadavoodi commented on #33
@lbingbing did you try to repro the mAP from that table using the tensorflow/models scripts?
I feel those numbers are old and not reproducible by the uploaded models.

[2019-04-01 20:16] pooyadavoodi commented on #45
Is this issue resolved?
Looks like 19.03 has worked for you.
Which container didn't work?

I think the new default arguments work with TF 1.13. Please let me know if they don't.

[2019-04-01 20:39] 88madri commented on #45
No. The new default arguments don’t work with 1.13 on 1060 gtx and also on a jetson tx2.
With minimum segment size of 50 it works

[2019-04-03 08:39] agkphysics opened #52 "Problems in benchmark_model when use_synthetic=True."
There seem to be a couple of errors in `benchmark_model()` that appear when `use_synthetic=True`.

- I get `TypeError: 'module' object is not callable` when calling `benchmark_model` with `use_synthetic=True` and where `image_shape` is given, due to an error at https://github.com/tensorflow/tensorrt/blob/2b07cdb31c249ccdf87c37810b1f808ef71666e2/tftrt/examples/object_detection/object_detection.py#L

[2019-04-03 09:26] antoajayraj opened #53 "image_classification test fails"
Trying to run the examples in tensorrt fails with the following error

# python image_classification.py
Traceback (most recent call last):
  File "image_classification.py", line 30, in <module>
    import official.resnet.imagenet_main
  File "/root/antojohn/tensorrt/tftrt/examples/third_party/models/official/resnet/imagenet_main.py", line 31, in <module>
    from official.resnet import resnet_run_

[2019-04-12 09:29] MiVaVo opened #56 "Conversion with no speed improvement, TRT-TF"
**My machine info:**
Ubuntu 16.04
GeForce GTX 1080
Nvidia Driver Version: 410.78
CUDA Version: 10.0
CUDNN version : 7.5.0
Tensorflow version 1.13.0 from official nvidia docker-hub  nvcr.io/nvidia/tensorflow:18.09-py3.
Tensorrt version: from tensorflow package (5.0.2)
**Problem description:**
 I have managed to convert my model to TRT-TF using _create_inference_graph_  method from _tensorflow.contr

[2019-04-17 11:03] iariav commented on #56
Hi,
i am also facing the same issue, trying to convert the official Deeplab v3+ model from tensorflow/models/research. i get the same exact inference time for both the original (unconverted) model and the trt model with fp32\fp16.
one thing that may explain that is that after conversion to trt model if i run the code:

`trt_engine_opts = len([1 for n in trt_graph.node if str(n.op) == 'TRTEngineOp'

[2019-04-17 11:06] iariav commented on #16
Hi,
i am also facing the same issue, trying to convert the official Deeplab v3+ model from tensorflow/models/research. after converting my frozen_graph to a trt_graph, if i run the code:

`trt_engine_opts = len([1 for n in trt_graph.node if str(n.op) == 'TRTEngineOp'])`

i get that` trt_engine_opts = 0`. this happens in both fp32 and fp16. still trying to understand why this happens.. any help wou

[2019-04-19 07:41] saicoco commented on #56
Me too, frozen resnet50 to trt_frozen_graph, however, there are not any op is TRTEngineOp

[2019-04-23 15:37] MiVaVo commented on #56
The problem was in undetermined ( dynamic) shape of input placeholder , e.g. [?,?,?,3] or something like that. Changing it to [?,W,H,C] solved the problem.

[2019-04-23 15:37] #56 closed

[2019-04-29 09:39] oscarriddle opened #62 "[Object Detection] ‘faster_rcnn_resnet50_coco’ model is errored during inference, after trt optimization: 'Incompatible shapes: [17328] vs. [16150]'"
GPU: 1080Ti
docker: nvcr.io/nvidia/tensorflow   19.03-py3           e8ec6af2fb6f

My test.py:
[code]
LOG：
[code]

I noticed that this error did not happen at the very first test image, but after running a few of images (67 images finished). Is it a bug?

[2019-04-30 04:13] FeiZhu opened #63 "Some operations not converted, but stated as supported in TF-TRT user guide."
I'm using TF-TRT to convert my model. The conversion is successful, but inference runs slower after conversion. While trying to figure out what goes wrong, I notice that some operations are not converted, which are however stated as supported in TF-TRT user guide.

The corresponding log is: "*There are 111 ops of 18 different types in the graph that are not converted to TensorRT: ExpandDims, Resha

[2019-05-02 14:10] vijeshkpaei commented on #41
install tensorflow nightly

[2019-05-13 19:02] nikithamuddireddy opened #66 "Unable to run bigger batch sizes"
Hi,

I am unable to run batchsizes larger than 1000. Has anyone else faced the same problem?

[2019-05-15 10:09] Mengjintao opened #68 "TensorRT with multiple models crash down."
The error message is:
ValueError: Cannot add function 'my_trt_op_1_native_segment' because a different function with the same name already exists.

The code (I put it here: https://github.com/Mengjintao/TF_TensorRT_test) will generate the above error message. But occasionally it may works fine.

I have no idea why this happens when I use multiple models with TF over TensorRT.  Our code TF over CUD

[2019-05-16 07:19] Mengjintao commented on #68
I use two totally different models, the code with TF-TRT works fine.
If I use two same models, the code with  TF-TRT occasionally crashes.
If I use two models with similar ops, the code with  TF-TRT crashes definitely.

[2019-05-16 09:13] agkphysics commented on #52
Closing as this has been fixed in #65.

[2019-05-16 09:13] #52 closed

[2019-05-18 20:41] fuzzyBatman commented on #56
@MiVaVo Hi. Can you explain in some detail? Where do you pass this `[?, W, H, C]` ?

[2019-05-21 09:34] zmsunnyday opened #73 "Abort(core dumped) when optimize model"
I'm trying ssd_inception_v2_coco on ubuntu16.04,gtx1080ti.
I have tf-nightly-GPU(1.14.1.dev20190520), CUDA10.0, TensorRT 5.
But always provokes Abort(core dumped). Below is the log:

2019-05-21 17:16:56.863130: I tensorflow/stream_executor/platform/default/dso_loader.cc:42] Successfully opened dynamic library libcudart.so.10.0
WARNING: Logging before flag parsing goes to stderr.
W0521 17:16:57.141

[2019-05-21 22:25] guyco87 commented on #56
@iariav @fuzzyBatman did you find an explanation/solution? I also run resnet50 with synthetic data and mode benchmark and I get 0 trt_engine_opts

[2019-05-24 06:46] pigubaoza commented on #56
Looking for a solution for this as well

[2019-05-27 02:26] argman opened #75 "does tf-trt support dynamic shape inputs used for image segmentation models ?"
and are there any c++ examples using tf-trt?

[2019-06-06 06:55] zguo008 opened #77 "TRT inference with graph trained in a "FIFO queue" style"
Hi,

Bear with me if I ask this question in the wrong place.

I am trying to optimize a tf model with TRT. I have encountered some trouble:

1.Original model is trained in a FIFO queue style. So basically [image, label, existence] are pushed into a queue and this bunch of data is dequeued before forward propagation.

2.I loaded the trained checkpoint and freeze it to a frozen graph. Frozen graph i

[2019-06-07 05:20] JunweiLiang opened #80 "Does not work on FPN model?"
Hi,

I have a self-implemented object detection model here:

Basically it is a Resnet101 + FPN + Faster RCNN model.

I used [this code](https://github.com/JunweiLiang/Object_Detection_Tracking/blob/master/tensorrt_optimize.py) with [these commands](https://github.com/JunweiLiang/Object_Detection_Tracking/blob/master/SPEED.md) to convert the frozen graph and it reports no error:

graph_size(MB)(nat

[2019-06-07 05:21] JunweiLiang commented on #80
https://github.com/JunweiLiang/Object_Detection_Tracking

[2019-06-10 11:26] yiyele opened #81 "AttributeError: 'module' object has no attribute 'TrtGraphConverter'"
when i use example,i got an error,should i update my tf to 14 or 13?

[2019-06-10 20:02] ellis-bigelow opened #82 "Support for XGBoost"
XGBoost is a commonly used ML framework. It supports multiple saved model formats like .bst and .joblib. There does not currently exist a performant XGBoost server for inferencing.

It would be great to have TensorRT support for XGBoost models for both CPU and GPU. Unfortunately I don't have any real models other than our toy models. but TensorRT should work on everything XGBoost has to offer.

ht

[2019-06-11 02:29] ellis-bigelow commented on #82
Wrong repo :(

[2019-06-11 02:29] #82 closed

[2019-06-11 06:55] ThiagoMateo opened #83 "InvalidArgumentError (see above for traceback): You must feed a value for placeholder tensor"
HI everyone. I try to optimize my frozen model, but i got below error. I dont know how to fix.
error:
[code]
My optimize code:
[code]

[2019-06-12 11:15] lec00q commented on #56
Hello @toborobot, sorry for the intrusion in this post...however I have just noticed that you are testing a tensorrt version of your graph on a Jetson Nano and I would like to know how did you manage to convert the graph for the Nano...everytime I use `trt.create_inference_graph` the 4GB of RAM fills up and the process cannot finish. Thank you in advance

[2019-06-12 12:19] fuzzyBatman commented on #56
@lec00q Can we optimise fo the Jetson Nano? Which GPU are you using?

Check these posts:
[tensorflow/28854](https://github.com/tensorflow/tensorflow/issues/28854)
[nVidia/devtalk/tensorrt](https://devtalk.nvidia.com/default/topic/1052148/tensorrt/gpu-requirements-to-run-create_inference_graph-using-tensorrt-trt-in-tensorflow-/post/5340837/#5340837)

[2019-06-12 12:54] lec00q commented on #56
Hello @fuzzyBatman, are you asking to me if it is possible to optimize for the Jetson Nano? I do not know in the sense that I understand it should be feasible (https://github.com/dusty-nv/jetson-inference/blob/master/README.md#two-days-to-a-demo-training--inference)... but as I said I am not able to run `create_inference_graph` for two reasons:

- if I run it on Jetson Nano, the RAM is not enough

[2019-06-13 06:23] xxllp opened #84 "No module named compiler.tensorrt"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "tftrt/examples/object_detection/__init__.py", line 18, in <module>
    from .object_detection import download_model, download_dataset, optimize_model, benchmark_model
  File "tftrt/examples/object_detection/object_detection.py", line 22, in <module>
    from tensorflow.python.compiler.tensorrt import trt_convert as tr

[2019-06-13 06:23] xxllp commented on #84
I test on tf 1.10

[2019-06-17 08:23] Eloring commented on #84
I got the same issue on tf 1.13. What's the lowest version including compiler.tensorrt?

[2019-06-17 17:13] akhilvasvani commented on #84
From TensorFlow 1.14.1, did the switch occur. When I say switch I mean:

```import tensorflow.contrib.tensorrt as trt ``` (used in ≤ TensorFlow 1.13.1 ) -->
```from tensorflow.python.compiler.tensorrt import trt``` (TensorFlow ≥ 1.14.1)

[2019-06-18 02:00] xxllp commented on #84
thanks , akhilvasvani

[2019-06-18 02:07] akhilvasvani opened #85 "TensorRT Mistmatch"
OS and version: Ubuntu 18.04
GPU type: NVIDIA GeForce GTX 1080 Ti Founder's Edition
nvidia driver version: 418.56
CUDA version: 10.0
cuDNN version: 7.4.1
Python version: 3.6.7
TensorFlow version:1.13.1
TensorRT version: 5.1.2

Following the instructions per the TensorRT manual, I used the frozen model to implement Tensorflow-RT:
[code]

However, then I get the error:
[code]

What exactly is not li

[2019-06-18 02:11] Eloring opened #86 "how to convert a pre-trained model (frozen graph, savedmodel or ckpt) to a new tf-trt-optimized savedmodel for tensorflow:serving"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux RHEL 7.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):1.13.1
- Python version: Python 2.7.16 :: Anaconda, Inc.
- CUDA/cuDNN version: CUDA 10.1, cuDNN 7.6
- GPU model and memory: 2 Tesla K80, 12G/12G

**Describe the current behavior**

Use the tool saved_model_c

[2019-06-18 06:08] xxllp commented on #86
the  saved model you  get can use by tf -serving  ,you can try it out

[2019-06-18 06:15] xxllp commented on #16
too bad

[2019-06-18 12:06] lvniqi commented on #40
@xhzhao xhzhao
i think you shouldn't set image_shape to [600,600].
if you reshape the image, the Aspect Ratio may be wrong.

[2019-06-18 12:13] rubyway opened #87 "how to deal with the whileloop or tensorarray in TF model"
hi,
SSD postproessor combined with **while loop and tensorarray**, how tensorRT deal with control flow op?
enter merge switch etc.
how to allocate memory for tensorarray object.

These op confused me for a long time. Truthly thanks!

[2019-06-19 06:08] Eloring commented on #86
@xxllp Thanks!
Although the variables fold is empty, the converted model can be launched on tensorflow:serving.
The procedures are:
    1. prepare a pre-trained model (.ckpt and .config files)
    2. export to a saved_model (.pb and variables), which can be launched on tf:serving
    3. convert to another saved_model (only .pb) with TensorFlow-TensorRT
My questions is, in the 2nd step, only saved_

[2019-06-19 06:21] xxllp commented on #86
看一下官方介绍才行哈，2 里面的两个文件 合并才有3的，参数固定化了

[2019-06-19 06:23] Eloring commented on #86
@xxllp 谢谢！

[2019-06-19 06:23] #86 closed

[2019-06-19 06:25] xxllp commented on #86
这个测试结果有啥提高吗

[2019-06-19 06:33] Eloring commented on #86
不高。。
Platform |Model |  Img amount | Img Size | Batch size   | mAP | Latency [load image + inference + save result]
-- | -- |  -- |-- | -- | -- | --
TF:Serving|Faster RCNN | 4952  | 300*300  | 32  | 0.7021 | 419204 ms
TF:Serving +TRT| Faster RCNN | 4952  | 300*300  | 32  | 0.7019 | 402723 ms

[2019-06-19 06:40] Eloring commented on #86
@xxllp 这是mask rcnn的结果，latency没有很大提高，其他的performance我还没测

Platform |Model |  Img amount | Img Size | Batch size   | mAP | Latency [load image + inference + save result]
-- | -- |  -- |-- | -- | -- | --
TF:Serving|Mask RCNN | 4952  | 300*300  | 32  | 0.6977 | 1085690 ms
TF:Serving +TRT| Mask RCNN | 4952  | 300*300  | 32  | 0.6974 | 1073212 ms

[2019-06-19 23:21] patrickGriffith commented on #56
@fuzzyBatman @guyco87 @pigubaoza I was able to implement a solution to what @MiVaVo referenced by setting a fixed export size.

For me that meant changing [line 85 of Deeplab's export_model.py](https://github.com/tensorflow/models/blob/master/research/deeplab/export_model.py#L85) from

`input_image = tf.placeholder(tf.uint8, [1, None, None, 3], name=_INPUT_NAME)`

to

`input_image = tf.placeholder

[2019-06-20 00:16] pooyadavoodi commented on #40
I set image_shape to [640x640] and I get mAP: 0.276.

[2019-06-20 00:18] #33 closed

[2019-06-20 00:27] pooyadavoodi commented on #53
This might be resolved according to https://github.com/tensorflow/models/issues/6526
Could you double check please.

[2019-06-20 00:29] pooyadavoodi commented on #45
I just verified that this is working now with the most recent code in the master branch, and TF 1.14.

Here is the tail of the log:
[code]

This is the config I used:
[code]

[2019-06-20 01:03] pooyadavoodi commented on #63
Sorry for the late reply.

The log that says `There are 111 ops of 18 different types in the graph that are not converted to TensorRT: ...` lists the ops that were not converted. Some of those ops could be supported by TF-TRT in the general sense, but not for every possible input types or shapes.

I'd like to look into the performance issue you see, but I need your model and script for repro.

Whi

[2019-06-20 01:04] pooyadavoodi commented on #62
I think this is fixed in TF 1.14. Could you please test again.

This is the tail of the log of my faster_rcnn_resnet50_coco:
[code]

The config file:
[code]

[2019-06-20 03:46] ZhuoranLyu commented on #56
Exactly same code on docker container and native tensorflow, different result. 3X speed improvement in the container while no improvement in native env. Any suggestions?

[2019-06-20 13:18] lec00q commented on #56
As a small update, I think the parameters `is_dynamic_op` must be set to True to allow for a variable input shape, which can be later specified at inference time. See this [blog post](https://medium.com/tensorflow/high-performance-inference-with-tensorrt-integration-c4d78795fbfe) which I have found quite useful.

Still, after the conversion to FP16 on a machine with Tesla V100 GPU, I see no visibl

[2019-06-20 13:55] fuzzyBatman commented on #56
@lec00q

Maybe [this](https://devtalk.nvidia.com/default/topic/1052148/tensorrt/gpu-requirements-to-run-create_inference_graph-using-tensorrt-trt-in-tensorflow-/post/5340837/#5340837) is the reason. CC of Tesla V100 is 7.0 and that of Nano is 5.3

[2019-06-21 01:58] Eloring opened #89 "No speed improvements after TF-TRT optimizing"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux RHEL 7.6
- CPU architecture: power8, ppc64le
- TensorFlow version (use command below):1.13.1
- Python version: Python 2.7.16 :: Anaconda, Inc.
- CUDA/cuDNN version: CUDA 10.1, cuDNN 7.6
- GPU model and memory: 2 Tesla K80, 12G/12G

**Result**

Dataset: 4952 amount, 300*300 size

 Model | Model size | Num Nodes

[2019-06-21 12:51] lvniqi commented on #40
ok.  you are right. it doesn't a matter about image_shape.

[2019-06-22 17:32] kaka7 commented on #73
i got the same error (trt5),but i solve i after downgrade tensorflow 1.8/1.7 tensorrt4.0.1,i hope it helps you @ zmsunnyday

[2019-06-23 08:46] SimsGautam commented on #63
@pooyadavoodi Is there any documentation on the speedups for detection models?

Only benchmark I've found is ~3x speedup with TRT + FP16 on `SSD MobileNet V1`. Does that benchmark include the`CombinedNonMaxSuppression` change?

Curious if there are speedup benchmarks available for some other supported detection models (e.g. `SSD Resnet50 FPN`, `Faster RCNN`). Thanks!

[2019-06-24 08:51] huaifeng1993 commented on #81
I meet the same problem.The version of my tensorflow is 1.13.1

[2019-06-24 20:45] guyco87 commented on #56
Thanks for the update @patrickGriffith.
As @lec00q said, if you want to use dynamic input size you should use is_dynamic_op  flag.

Besides, based on Nvidia's doc - "TF-TRT only supports models trained in FP32, in other words all the weights of the model should be stored in FP32 precision" - https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#capabilities

So I don't see a

[2019-06-25 02:51] huaifeng1993 commented on #16
have you solved this problem?

[2019-06-25 09:53] FeiZhu commented on #63
@pooyadavoodi  Thanks for the reply.

It's very helpful. Now I see why the log says some ops are not converted.

[2019-06-25 09:53] #63 closed

[2019-06-26 09:56] chong-lee commented on #75
same question

[2019-06-26 11:10] GuruRChandran6s commented on #41
I am running the resnet model in docker optimized with Tensor-rt. I am getting
status = StatusCode.INVALID_ARGUMENT
details = "NodeDef mentions attr 'explicit_paddings' not in Op<name=Conv2D; signature=input:T, filter:T -> output:T; attr=T:type,allowed=[DT_HALF, DT_BFLOAT16, DT_FLOAT, DT_DOUBLE]; attr=strides:list(int); attr=use_cudnn_on_gpu:bool,default=true; attr=padding:string,allowed=["SAME",

[2019-06-27 02:01] hongym7 commented on #89
I have same issue(?), too.
There is no big change.

[2019-06-27 06:58] BertrandD commented on #89
Do you have the code you used to generate the TF-TRT version of your model? In your optimized graph, do you have any TRTEngineOp node?

`len([1 for n in frozen_graph.node if str(n.op)=='TRTEngineOp'])`

[2019-06-27 09:18] huaifeng1993 commented on #89
I soved the problem by using nvidia-docker with the tensorflow19.04 container.Refereing the Tensorflow-TensorRt-user-guid ,I find that there are only two ways to install TF-TRT:using container or compiling TensorFlow with TensorRT integration from its source.

[2019-06-27 09:33] BertrandD commented on #89
@Eloring Do you have any logs ? I had problems to create an optimized graph (from a rfcn model), but by playing and understandint the parameters I finally (with luck ?) got something working... By reading the 2 links you gave I cannot figure out the problem, maybe with logs I will see something...

[2019-06-27 14:39] Eloring commented on #89
@huaifeng1993
I have tried to use container before:
`docker pull nvcr.io/nvidia/tensorflow:19.05-py2`
however the container does not support ppc64le (Power CPU):
`standard_init_linux.go:178: exec user process caused "exec format error"`

I supposed TF-TRT was built-in by tensorflow-gnu as default...(maybe I am wrong...)

[2019-06-27 14:41] Eloring commented on #89
@BertrandD
Here are logs during model conversion

[code]

[2019-06-28 04:08] Eloring commented on #89
@BertrandD

It seams the model is converted successfully with TF-TRT after I update the tensorflow-gpu from v1.13 to v1.14

[code]

[2019-06-28 14:21] eduardinjo commented on #44
@IvyGongoogle did you solve the issue? I'm having similar problem

[2019-07-01 07:12] hongym7 commented on #89
I run fine-tune object detection model.
Get .pb file. and then run tenssort.
my log is below.

        graph_size(MB)(native_tf): 181.3
	graph_size(MB)(trt): 182.1
	num_nodes(native_tf): 2564
	num_nodes(tftrt_total): 1594
	num_nodes(trt_only): 0
	time(s) (trt_conversion): 2.6404

Is it right ?

[2019-07-01 07:35] Eloring commented on #89
@hongym7
`num_nodes(trt_only): 0`
that means your converted model doesn't have TensorRT node (i.e. TRTEngineOp)

[2019-07-01 07:58] hongym7 commented on #89
@Eloring
Um... Thank you.
I need more research.
I'll let you know how to find it.

[2019-07-01 08:14] hongym7 commented on #89
@Eloring
My source is

from tftrt.examples.object_detection import optimize_model
import tensorflow.contrib.tensorrt as trt
import tensorflow as tf

config_path = '/home/hong/PycharmProjects/tensorflow_models_drone/research/faster_rcnn_resnet101_drone_27.config'
checkpoint_path = '/home/hong/PycharmProjects/tensorflow_models_drone/research/train_result_drone_27/model.ckpt-18000'

frozen_graph = op

[2019-07-01 08:45] Eloring commented on #89
@hongym7
What's your Tensorflow version and TensorRT version?
Can you show me the logs?

Here is my core code:

[code]

[2019-07-01 08:55] hongym7 commented on #89
@Eloring
TF : 1.14.0
TRT : 5.0.2.6

Thank you :D

[2019-07-01 09:17] BertrandD commented on #89
@Eloring Good ! Be careful, that you probably won't be able to run your 1.14 model in a 1.13 environment. You will need to use a TF 1.14 version to execute your model, and currently the 1.14.0 version do not dynamicaly load the TRTEngineOp.

In 1.13.1 you need to do add `import tensorflow.contrib.tensorrt as trt` in your code to load the TRTEngineOp, and in 1.14.0, tensorrt support is no longer in

[2019-07-01 09:31] Eloring commented on #89
@hongym7
Well, I guess your TF-TRT didn't installed successfully. It's recommended to use the tensorflow docker container provided by Nvidia, where the TF-TRT was compiled:

`docker pull nvcr.io/nvidia/tensorflow:19.06-py2`

[TensorFlow Release 19.06](https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/rel_19.06.html#rel_19.06)

[2019-07-01 09:47] hongym7 commented on #89
@Eloring
Thank you for your comment.
But... Is not exist solution without docker?

[2019-07-01 10:09] Eloring commented on #89
@hongym7
IBM Watson Machine Learning Community Edition 1.6.1 (also known as PowerAI) provides software packages for several deep learning frameworks, supporting libraries, and tools.
https://www.ibm.com/support/knowledgecenter/SS5SF7_1.6.1/navigation/wmlce_software_pkgs.html
https://www.ibm.com/support/knowledgecenter/SS5SF7_1.6.1/navigation/wmlce_download.html

The easiest way to get WML CE is us

[2019-07-03 07:37] mankeyboy commented on #81
Tensorflow has changed their API from 1.14 onwards and the current code versions have incorporated those modifications. You can either use the tf-nightly-gpu builds which now give 1.14 or move to an older commit which uses the older API.

[2019-07-03 07:51] mankeyboy opened #92 "Error with object-detection examples when using batch size > 1 related to image size"
@pooyadavoodi @trevor-m When using batch sizes > 1, the latest object-detection code asks to give a fixed image shape but when I provide it with [600,600], it fails with a seg-fault.
This is the error I'm seeing:
[code]

The json file I'm using to call the test module with is:

[code]

Hoping anyone here can help me sort this error out.

[2019-07-03 07:53] trevor-m commented on #92
As a workaround, you can set your num_images in the config to a multiple of 128 such as 1024.

[2019-07-03 08:00] mankeyboy commented on #92
The rest of the info in that json is correct then, I assume? I'll try this workaround and see.

[2019-07-03 18:04] pooyadavoodi commented on #40
Closing. Please reopen in case the issue remains.

[2019-07-03 18:04] #40 closed

[2019-07-03 18:05] pooyadavoodi commented on #45
Closing. Please reopen in case the issue remains.

[2019-07-03 18:05] #45 closed

[2019-07-03 18:05] pooyadavoodi commented on #53
Closing. Please reopen in case the issue remains.

[2019-07-03 18:05] #53 closed

[2019-07-03 23:19] pooyadavoodi commented on #62
Closing. Please reopen in case the issue remains.

[2019-07-03 23:19] #62 closed

[2019-07-03 23:21] pooyadavoodi commented on #66
What happens when you run it?
Do you have the log and the script for repro?

It depends on the model.
We have used larger batch sizes for some models.

[2019-07-04 00:00] pooyadavoodi commented on #68
@Mengjintao Could you try to import trt_engine1 and trt_engine2 into two different tf.Graph.

You can enclose your import in something like this:

[code]

[2019-07-04 00:12] pooyadavoodi commented on #73
The crash at the end doesn't seem to be related to the model you are optimizing. Perhaps there is a problem in your setup? Does any other thing work? Could you try running some of the unit tests from https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/compiler/tensorrt

[2019-07-05 13:39] weishengchong opened #93 "TypeError: optimize_model() got an unexpected keyword argument 'config_path'"
Hi,

TypeError: optimize_model() got an unexpected keyword argument 'config_path'

I got above error when following the [tutorial](https://github.com/tensorflow/tensorrt/tree/master/tftrt/examples/object_detection) below

frozen_graph = optimize_model(
    config_path=config_path,
    ...)

The command interface refers to [r1.13](https://github.com/tensorflow/tensorrt/tree/r1.13) rather than the [

[2019-07-05 13:39] #93 closed

[2019-07-06 14:05] weishengchong commented on #93
[tutorial](https://github.com/tensorflow/tensorrt/tree/r1.13/tftrt/examples/object_detection)
**Optimize**
[code]

**error**
TypeError: optimize_model() got an unexpected keyword argument 'config_path'

**solutions**
[code]
tftrt/examples/object_detection/__init__.py
`from .object_detection import download_model, download_dataset, optimize_model, benchmark_model, **build_model**
`

tftrt/examples/

[2019-07-08 01:19] #92 closed

[2019-07-09 05:09] weishengchong commented on #89
Hi @Eloring,

Did you try [ssd_mobilenet_v1](http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2018_01_28.tar.gz) using TF-TRT? I got 25ms for INT8 compared to 31ms for fp32 (30ms for fp16) with input 300x300 batch1.

docker: nvcr.io/nvidia/tensorflow:19.05-py3 (NVIDIA-SMI 418.56  Python 3.5.2,  tf 1.13.1)
system: ubuntu18.04, 2080ti

precision_mode=fp32
[code]

precisio

[2019-07-10 05:00] Eloring commented on #89
Hi @weishengchong
Well, in my opinion, using TF-TRT to accelerate TF models can't reach the same speedup as using TRT UFF parser to build the engine.

**Using TF-TRT:**

Which means each TRTEngineOp will contain a serialized subgraph GraphDef, where a subgraph contained several TF nodes in the original graph, so it is acceptable TRT-node is smaller than TF-total.

TF-TRT producing an optimized mod

[2019-07-10 12:06] infichen opened #94 "InvalidArgumentError: Expected image (JPEG, PNG, or GIF)"
I run Image classification example but it taks errors:
![image](https://user-images.githubusercontent.com/13826604/60967668-cf76f600-a34d-11e9-935a-eace6288229a.png)

  the ImageNet validation data like this，generate with the  build_imagenet_data/build_imagenet_data.py
![image](https://user-images.githubusercontent.com/13826604/60967779-0c42ed00-a34e-11e9-8e4f-641a3ae0332d.png)

[2019-07-11 04:06] weishengchong commented on #89
Hi @Eloring,

Did you try int8 UFF-SSD?

It is reported only [1.3x speedup](https://devtalk.nvidia.com/default/topic/1036911/tensorrt/cannot-run-sampleuffssd-for-int8-inference-calibration-failed-/1) for GTX 1080Ti,

Thanks again.

[2019-07-11 04:32] Eloring commented on #89
Hi @weishengchong
From original Tensorflow Frozen Graph  to TensorRT Engine, TRT made 6.7x speedup, where no quantization like FP16 or INT8 was used.
That's what I mean :)
And I haven't tried int8 UFF-SSD.

[2019-07-11 05:43] infichen commented on #94
Can anyone help me?

[2019-07-12 11:58] arbala22 commented on #41
I have faced below issue while use the exported tensorflow model  for inference from 1.12 version.

ValueError: NodeDef mentions attr 'half_pixel_centers' not in Op<name=ResizeBilinear; signature=images:T, size:int32 -> resized_images:float; attr=T:type,allowed=[DT_INT8, DT_UINT8, DT_INT16, DT_UINT16, DT_INT32, DT_INT64, DT_BFLOAT16, DT_HALF, DT_FLOAT, DT_DOUBLE]; attr=align_corners:bool,default=f

[2019-07-12 16:21] nseidl opened #96 "0 trt_only Nodes for ssd_mobilenet_v1_coco"
I followed the documentation steps [here](https://github.com/tensorflow/tensorrt/blob/master/tftrt/examples/object_detection/README.md).

(another issue is that the current documentation provides a `checkpoint_path` to `optimize_model`, but `optimize_model` only takes a frozen graph. I fixed this by loading the frozen graph in and passing it to `optimize_model`.

This is the output from the `optim

[2019-07-15 23:09] pooyadavoodi commented on #66
Closing. Please feel free to reopen if the problems persists.

[2019-07-15 23:09] #66 closed

[2019-07-15 23:09] pooyadavoodi commented on #68
Closing. Please feel free to reopen if the problems persists.

[2019-07-15 23:09] #68 closed

[2019-07-15 23:10] pooyadavoodi commented on #73
Closing. Please feel free to reopen if the problems persists.

[2019-07-15 23:10] #73 closed

[2019-07-15 23:21] pooyadavoodi commented on #75
There are multiple issues related to dynamic shapes.

- If the input graph has unknown shapes, the TF-TRT dynamic mode is able to handle them. Set `is_dynamic_op=True` in the API.
- Certain shape manipulations are not supported. One example is tf.Shape. Another example is reshaping the batch dimension. We are working on extending the support with the next release of TensorRT.

[2019-07-15 23:22] pooyadavoodi commented on #75
Unfortunately we don't have a C++ example yet. We are planning to make one.

[2019-07-15 23:54] pooyadavoodi commented on #77
Are the queue ops inside the graph you give to TF-TRT API?

@aaroey Any idea how the queue ops can be replaced by a placeholder in this case?

[2019-07-16 15:15] aaroey commented on #77
@zguo008 could you provide a minimum graph that can reproduce the error with your code? I'm curious what was failing during the `sess.run()` step.

[2019-07-16 19:48] gogasca commented on #56
[code]
or INT8 no improvements in response.
[code]

[2019-07-17 01:10] zhuhong opened #98 "Not found: Container TF-TRT-Calibration does not exist"
Hi， all；
  I am a newbie in tensorflow-trt, when i try to convert a resnet50 model to int8 and calibrate it using imagenet validation data, I meet the following error:

----------------------------------------------------------------------------------------------

2019-07-17 00:49:44.429295: W tensorflow/core/framework/op_kernel.cc:1622] OP_REQUIRES failed at get_calibration_data_op.cc:48 : Not fo

[2019-07-17 03:45] chong-lee opened #99 "inference with tf-trt"
During convert frozen model to tf-trt optimized model, i have some question:
1. I convert model use tensorrt function create_inference_graph, after that i print graph's node name and node op, and found there is no op named 'TRTEngineOp', is this means the optimize failed? code like this:
[code]
2. Can i save the tf-trt optimized model(like .pb) and run the optimized model with cpp for online infer

[2019-07-17 12:45] #99 closed

[2019-07-17 20:54] gogasca commented on #41
These are the steps to reproduce in TF 1.14.0
[code]
Then send requests with resnet_client.py

[code]

[2019-07-18 22:25] deepcpatel commented on #56
Facing the same issue here. Any solution? I see 0 TRTEngineOp nodes in my graph.

[2019-07-19 21:17] pooyadavoodi commented on #80
@JunweiLiang Looks like you are using `is_dynamic_op=False`. Could you change that to `True` and retry.

[2019-07-19 21:19] pooyadavoodi commented on #81
In this repo, we have a [branch for TF1.13](https://github.com/tensorflow/tensorrt/tree/r1.13) which is basically the old scripts. We are not going to update them except for certain bug fixes.

[2019-07-19 21:23] pooyadavoodi commented on #85
The version of your TensorRT is 5.1.2 while the version of the TensorRT used to build TF is 5.0.2. They don't match.

Where do you download your TF from?
The pip packages that Google has uploaded to PyPI are build with TensorRT 5.0.
If you want to use TensorRT 5.1, you would have to either use [NVIDIA containers](https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/running.html

[2019-07-19 21:26] pooyadavoodi commented on #87
TF-TRT currently doesn't support loops, control ops, or TensorArray. TensorRT also doesn't support them at the moment.

We have observed that a much more efficient way of doing NMS in postprocessing is using an op like CombinedNonMaxSuppression which fuses a lot of ops into a single op, and TF-TRT can also convert that to TensorRT. We get significant speedup on SSD with this.

[2019-07-19 21:28] pooyadavoodi commented on #94
Could you post the command you use to run the script?

[2019-07-19 21:45] pooyadavoodi commented on #96
Thanks for pointing our the documentation issue. I just fixed that. It was outdated.

[2019-07-19 21:45] pooyadavoodi commented on #96
Having 0 TRT nodes is unexpected.
Could you post how you run the example, plus the version of TF and TRT you are using?

[2019-07-19 21:48] pooyadavoodi commented on #98
What version of TF are you using?

Could you post the command you use to run the script?

[2019-07-19 23:32] akhilvasvani commented on #85
Ok, I will rebuild my TensorFlow using Bazel. Thanks so much

[2019-07-20 02:03] zhuhong commented on #98
I do nothing except replace the model in https://github.com/tensorflow/tensorrt/blob/master/tftrt/examples/image-classification/image_classification.py for quantization. I used another resnet50 model with different input and output name, but it works for fp32 conversion and fp16 conversion.

[2019-07-21 10:24] oak-tree opened #100 "Does `tensorrt` module is needed for c binding for inference ?"
We compiled `tensorflow` with and without `tensorrt` for `jetson` (arm64). But now when I'm thinking on it, does `tensorrt` is actually needed for inference stage?

[2019-07-21 15:57] JunweiLiang commented on #80
Thanks. It works now on TF v1.14.0 (is_dynamic_op=True still fails on TF v1.13). However, it seems that there is no significant speed improvement when I just use FP32 and FP16 mode.

[2019-07-21 15:57] #80 closed

[2019-07-23 02:17] ZhuoranLyu commented on #99
@chong-lee Hi, did u fix this problem? Or did u find the answers to these questions?

[2019-07-23 02:35] ZhuoranLyu commented on #89
Hi @weishengchong @Eloring Did you guys figure out how to use tftrt without docker? Using tftrt in docker indeed works for me. However, I'd like to use tftrt with C/C++ API in native (Windows) env. Do you know how to figure this out? Thanks.

[2019-07-23 02:37] ZhuoranLyu commented on #100
Hi @oak-tree , would you plz tell me how to compile tftrt with tensorrt for C/C++ API? Thx!

[2019-07-23 03:08] chong-lee commented on #99
According to my experience. 1. model optimized directly with the tf default installation package does not have 'TRTEngineOp', which means that the optimization is not successful. According to NVIDIA's official documentation, you need to use TensorFlow container or compile TensorFlow with TensorRT through source code. The latter one I tried is ok. I can save the optimized model as pb, and then use

[2019-07-23 03:11] ZhuoranLyu commented on #99
@chong-lee Thanks, did you compile tftrt with bazel according to https://www.tensorflow.org/install/source_windows ? I did not see any tensorrt configuration on that page.

[2019-07-23 03:36] weishengchong commented on #89
Hi @ZhuoranLyu,

I only success in using docker.

I have no idea about running trt on Windows, FYI https://devtalk.nvidia.com/default/topic/1055484/tensorrt/deepstream_reference_apps-trt-yolo-app-windows-build/

Hi @Eloring thanks for your advice.

[2019-07-23 04:05] ZhuoranLyu commented on #89
@weishengchong I ran tensorrt successfully on windows. However, I was wondering how to run tensorflow-tensorrt(tftrt) on windows.

[2019-07-23 16:53] aaroey commented on #41
@gogasca I think the reason is https://github.com/tensorflow/tensorflow/commit/3ae2c6691b7c6e0986d97b150c9283e5cc52c15f added the half_pixel_centers attribute to the op and the change is in the most recent release, but your model was built in 2018 so the graph doesn't contain that attribute. I think this is not related to TF-TRT.

[2019-07-24 07:14] chong-lee commented on #99
@ZhuoranLyu I compile tftrt with bazel according to [https://www.tensorflow.org/install/source](https://www.tensorflow.org/install/source).

[2019-07-25 08:58] caspainde commented on #84
@akhilvasvani I am using tensorflow 1.14.0, how can I import trt?

[2019-07-25 12:41] akhilvasvani commented on #84
from tensorflow.python.compiler.tensorrt import trt

[2019-07-25 12:47] caspainde commented on #84
@akhilvasvani Thanks! I forgot to mention that the deployed platform is TX2 but the train platform is windows. I find in doc from Nvidia that tensorrt does not support python on windows, I can't test it with tensorrt on windows right?

[2019-07-25 13:22] akhilvasvani commented on #84
I think in general this is true, but some have found a way to get it working, which leads to two possibilities:

1) Easy Route: Use Google Colabs to test instead of Windows for TensorRT. It is cross platform and you will be able to run anything

2) Hard Route: Build TensorFlow using Bazel on Windows and then run TensorRT. This [post](https://github.com/tensorflow/tensorflow/issues/23692) mentions

[2019-07-26 01:03] jtressle opened #102 "create_inference_graph() causing "placeholder tensor" issue"
Hi,

I'm running into the same issue as  https://github.com/tensorflow/tensorrt/issues/44 where using create_inference_graph() returns error "You must feed a value for placeholder tensor 'import/input_tensor' with dtype string and shape".

I've had this happen with my own frozen graph, as well as the graph mentioned in #44 .

That issue has been closed, but there is no resolution.  What needs to b

[2019-07-26 18:12] damitkwr opened #103 "TRT Conversion from TF saves dictionary file in graph making the protobuf too large"
Hi,

To produce take any model and add a 1GB or some large dictionary in the assets folder for a saved_model format. Run the TF-TRT conversion which will produce a protobuf file of size > 1GB or sometimes 2GB. If we then try to serve the model through TF-Serving or NVIDIA TRT Server then you will get this error:

`A protocol message was rejected because it was too big (more than 1073741824 bytes).

[2019-07-27 15:28] navdeep1604 opened #104 "i have installed tensorflow and it has method of tf trt"
hello, i am starting tf trt . i just need to know that my tensorflow installation gives method of from tensorflow.contrib import tensorrt as tftrt . As now I have converted my graph into tf rt graph. i was worried that do i need to explicitly install tensor rt packages also . or only conda install tensorflow-gpu and above methods from contrib is what we have to do . as for single file inference ,

[2019-07-29 12:01] diligent321 opened #105 "How to clear device field in the TF-TRT model"
hello, I have trained an inception model, then i use function create_inference_graph() to convert to  tf-trt FP16 model.

the strange thing is that, although i set CUDA_VISIBLE_DEVICES=0,1,2, the generated TF-TRT model specifies device field in GraphDef to a single GPU, as the following image shows,

![捕获2](https://user-images.githubusercontent.com/31379237/62046650-11070c80-b23b-11e9-9b2e-7741925

[2019-07-29 13:27] Meresmata opened #106 "AttributeError: module 'tensorflow.contrib.tensorrt' has no attribute 'calib_graph_to_infer_graph' when trying to Calibrate"
Hi,

 I am trying TensorRT. It works fine as long as I don't try getting the INT8 to work.  I got two problems:

1.: is similar to issue #56
2.: occures when trying to calibrate an Resnet v1.5 or SSD-ResNet-1.5. For reproduceability: I used the run_all.sh script from this side.

Maschine:
Ubuntu 18.04, Intel(R) Core(TM) i7-6850K, NVidia 1070, also tried it with the  Quadro 5000
Cuda: 10.0
CuDNN: 7

[2019-07-31 13:13] mpjlu opened #107 "when force_nms_cpu is true and use_trt is true, will be core dumped"
Error message:
`2019-07-31 20:59:13.742585: I tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc:730] Number of TensorRT candidate segments: 3
2019-07-31 20:59:13.807654: F tensorflow/core/util/device_name_utils.cc:92] Check failed: IsJobName(job)
Aborted (core dumped)`

Tensorflow version: from 1.13.1 to the latest all have this issue.
TensorRT version:TensorRT-5.0.2.6
cuDNN: cudnn-10.0-lin

[2019-08-01 01:51] fxl-fxl commented on #84
thanks for the help

[2019-08-02 02:01] YTLin26 commented on #96
I download the latest version of tftrt.
But, I still got the same problems.
Then, my version of TF is 1.14.
The version of TRT is 0.0

[2019-08-04 03:35] argman commented on #75
@pooyadavoodi tks, i will try and update if it works

[2019-08-05 23:23] jtressle commented on #87
@pooyadavoodi I have a custom model that uses a while_loop to iterate through a fix number of possibilities.  I'm encountering the same issue with tensorRT not supporting 'while_loop'.  Would 'tensorRT' support a for-loop implemented with TensorFlow 2.0?  I'm currently testing the while_loop in TF 1.14.

Thanks!

[2019-08-06 03:57] tjpulfn opened #109 "the result of sample end_to_end_tensorflow_mnist"

[2019-08-06 04:00] tjpulfn commented on #109
hello, i run the end_to_end_tensorflow_mnist, but i get the result is
Test Case: 5
Prediction: 7
i tried it many times, but no result is correct

[2019-08-06 10:10] PetreanuAndi commented on #80
Hello :D I've tried using your code and the tutorials provided on the official resource page, and it seems like the conversion brings ABSOLUTELY NO optimization improvement. (regardless of precision mode)

I'm using an SSD with FPN architecture, pretrained from COCO.

The output of the script looks like this :
(notice 0 tfrt nodes)

2019-08-06 13:07:14.320322: I tensorflow/core/grappler/optimizers

[2019-08-07 11:26] PetreanuAndi commented on #89
Hello guys. @Eloring , I am especially interested in this thread. I am trying to convert a SSD_Resnet50_FPN model to TFRT. Everything works just fine, i converted both saved_model and inference graph, FP16 & FP32, tried all the options (fixed input size etc), but the output i get is :

--------------------------------------------------------------------------------------

2019-08-07 13:28:26.38079

[2019-08-07 15:31] terryjx opened #110 "build_model need to be imported in tensorrt/tftrt/examples/object_detection/__init__.py"
It seemed that build_model need to also be imported together with download_model in tensorrt/tftrt/examples/object_detection/__init__.py, in order to run the object detection sample code.

Otherwise, import Error will be thrown out.

[2019-08-07 15:39] terryjx opened #111 "download_model function call bug in "tensorrt/tftrt/examples/object_detection/object_detection.py""
In the sample file, "tensorrt/tftrt/examples/object_detection/object_detection.py"

The following line seemed to need to be changed:
261    config_path, checkpoint_path = download_model(
262        model_name=model_name,
263        input_dir=input_dir,
264        output_dir=output_dir)

as

261    config_path, checkpoint_path = download_model(
262        model_name=model_name,
263        input_dir

[2019-08-08 04:02] Eloring commented on #89
hi @PetreanuAndi , these are my logs of converting a [ssd_resnet_50_fpn_coco](http://download.tensorflow.org/models/object_detection/ssd_resnet50_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03.tar.gz) model ( from [tensorflow_model_zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) ).
I noticed that there is no **TensorRTOptimi

[2019-08-12 04:19] ZhuoranLyu commented on #89
@PetreanuAndi Did you use nv-docker or native env with tensorflow?

[2019-08-13 08:31] zhangqijun commented on #106
just get answer.
TF 1.14 change method
from tensorflow.python.compiler.tensorrt import trt_convert as trt
converter = trt.TrtGraphConverter(input_saved_model_dir="")
converter.convert()
converter.save()

[2019-08-13 14:40] arielbenitah opened #112 "Segmentation Fault during Inference"
During inference I encounter the following:

2019-08-13 14:20:15.309738: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compi

[2019-08-14 14:09] scholarboss opened #113 "No tensorrt model in win10 python3.5 and python3.6"
Exause Me
I use tensorflow in windows10, python3.5
when I do
"import tensorflow.contrib.tensorrt as trt"
error appears:
ImportError: No module named 'tensorflow.contrib.tensorrt'

How can I get the tensorrt model in tensorflow for win10 ?

[2019-08-15 08:37] PetreanuAndi commented on #89
Hello @Eloring @ZhuoranLyu

I have pip installed tensorflow gpu 1.14 into a conda env.
I've also tried with 1.15 and the result is the same.

Should I build from source?
Even if you have trt_only nodes (49) do you actually observe a speedup? How much? Can you detail on that?

FP16 and FP32 both did not improve performance. Moreover, they seem to actually affect performance (on 1080 Ti) :
---> orig

[2019-08-15 08:47] ZhuoranLyu commented on #113
tftrt does not support win10 unless you compile from source

[2019-08-15 08:48] ZhuoranLyu commented on #89
@PetreanuAndi build from source or use docker

[2019-08-15 08:56] #109 closed

[2019-08-15 09:08] ZhuoranLyu commented on #99
@chong-lee BTW, did you compile for pip wheel or C++ API? If C++ API, did you compile this libtensorflow_cc.so file? May I ask for your QQ number because I have some questions about tftrt.

[2019-08-15 12:30] PetreanuAndi commented on #89
@ZhuoranLyu i'm building from source now but can you confirm that you actually have a speedup measurement (with or without trt_only nodes) ? Have you also tried SSD + FPN? (maybe the FPN aggregation has problems in the optimisation process)

I have read some other online forum that stated only C++ TRT will have speedup. Thoughts on that? Will come back with prints and benchmarking after the source

[2019-08-15 12:44] xgu3 commented on #94
@infichen I just met same problem, how did you solve it?

[2019-08-16 01:59] infichen commented on #94
the validation dateset convert to TFRecords has problem, modify build_imagenet_data.py like this can solve the problem.
![image](https://user-images.githubusercontent.com/13826604/63138281-7feeae80-c00c-11e9-9388-6913943559a3.png)

[2019-08-16 02:00] #94 closed

[2019-08-16 02:00] ZhuoranLyu commented on #89
@PetreanuAndi Firstly you can try inference with python under docker environment to see if it can speed up the model. From my perspective, SSD will benefit a lot from tftrt, especially using fp16.

[2019-08-16 02:11] Eloring commented on #89
@PetreanuAndi
Same opinion as @ZhuoranLyu. Obviously, your TF-TRT environment is not installed successfully. You can try to use Docker or Anaconda to pull/install an integrated image/package, otherwise, compile them by yourself.

[2019-08-16 06:55] xgu3 commented on #94
It works, thank you very much, @infichen

[2019-08-16 09:29] PetreanuAndi commented on #89
Hello guys. @Eloring , @ZhuoranLyu

I have installed tensorflow from sources. V 1.14, Cuda 10.02, cudnn 7.4.
Installation went good, and graph conversion went well, with the following output :

2019-08-16 12:25:39.216209: I tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc:835] TensorRT node Postprocessor/TRTEngineOp_90 added for segment 90 consisting of 3 nodes succeeded.
2019-08-16 12:25:

[2019-08-16 10:50] ZhuoranLyu commented on #89
@PetreanuAndi , actually, using tftrt under fp32 may not accelerate(instead it may slow the speed). However, it should accelerate under fp16 precision, especially on a new GPU like 2080Ti with tensor cores. I see a 3x times speed up using fp16 with a 2080Ti.

[2019-08-16 13:28] PetreanuAndi commented on #89
Hey Guys. I have build tf-nightly-gpu 1.15.0.dev20190816, with TensorRT5 (directly from TF package), cuda 10.0 and cudnn 7.6.0.

It builds / optimizes without errors, and actually outputs mode **trt_only nodes (102 instead of 94)**.
Testing with **FP32 yielded a poorer inference time** (0.031 on average / image), but testing with **FP16 did give a slight improvement** over the original model (0.02

[2019-08-16 13:40] chong-lee commented on #99
转tf-trt需要编译pip wheel，线上推理需要tensorflow动态库。

可以加我微信：bug_me_not

At 2019-08-15 17:08:05, "Zhuoran Lyu" <notifications@github.com> wrote:

@chong-lee BTW, did you compile for pip wheel or C++ API? If C++ API, did you compile this libtensorflow_cc.so file? May I ask for your QQ number because I have some questions about tftrt.

—
You are receiving this because you were mentioned.
Reply to this email di

[2019-08-19 06:16] ZhuoranLyu commented on #89
The model built with tensorflow in python, optimized with tf-trt, just as the example shows. No need to implement the model with NV-Tensor RT in C++ casue I am not familiar with C++.

[2019-08-19 07:25] sgambient opened #116 "Invalid argument: Unsupported data type encountered in input 0 in mask_rcnn_resnet50_atrous_coco."
Getting the above error on all the RCNN  networks which are supposed to have been tested and woked. The full stack trace follows.  Is there a to  prevent this error ?

[code]

[2019-08-19 15:38] sgambient commented on #116
This was on  the nvcr Tensorflow container for Python 2.

[2019-08-20 02:26] zhenpalapala commented on #89
Hi,  I just met the same issue as you. My tf version is 1.14, tf serving version is 1.13, the os is linux and tensorRT is 5.1.I want use tensorRT to speed up my model, but the output likes this
`2019-08-19 09:16:25.414934: I tensorflow/core/grappler/optimizers/meta_optimizer.cc:716] Optimization results for grappler item: tf_graph
2019-08-19 09:16:25.414982: I tensorflow/core/grappler/optimizers/m

[2019-08-21 10:52] PetreanuAndi commented on #89
Hello @zhenpalapala

It seems that tensorflow 1.14 has some issues, i found that out by looking in another forum. Try this instead :

sudo apt-get install --no-install-recommends     cuda-10-0     libcudnn7=7.6.0.64-1+cuda10.0      libcudnn7-dev=7.6.0.64-1+cuda10.0

sudo pip install tf-nightly-gpu==1.15.0.dev20190816

Using this nightly tf1.15 , try converting your model to FP16.
This is the only

[2019-08-22 02:24] zhenpalapala commented on #89
Thanks a lot.@PetreanuAndi
I found I met this "'unauthorized: authentication required'" issue when docker pull  nvcr.io/nvidia/tensorflow:19.06-py3 just because of bad connection of internet. I found that using this container can really speed up the provided Resnet model, but it didn't work when using my own model even slow down.

My origin models are saved as CKPT files, I want to optimize Tensor

[2019-08-23 07:21] austingg commented on #104
you can only use tf-trt with nvidia-tensorflow container  or build tensorflow with tensorrt enabled from source.

[2019-08-23 07:23] austingg commented on #102
PlaceHolder need an feed input, such as
sess.run([ouptut], feed_dict={'PlaceHoder name': image})

[2019-08-23 08:11] austingg commented on #96
@YTLin26  you can use tf-trt only build tensorflow from source with tensorrt enable or use nvidia tensorflow docker.

[2019-08-26 11:33] oak-tree opened #118 "Using `tensorflow tensort rt integration failed in some cases` - `Subshape must have computed start`"
# Error
`Invalid argument: Subshape must have computed start >= end since stride is negative, but is 0 and 2 (computed from start 0 and end 9223372036854775807 over shape with rank 2 and stride-1)
`
# What did we do
We tried to run `tensortrt` convertor from `tensorflow` on a specific network

# Reproduce

1. Get the model from https://github.com/qqwweee/keras-yolo3
create `model` for predict.
1.

[2019-08-27 02:41] ZhuoranLyu commented on #84
The tensorrt optimized model is platform dependent. I am struggling with how to run tftrt on windows.

[2019-08-28 02:43] austingg commented on #89
Recently, I am working on tf-trt on Tesla T4. I have found that ssd-like model speed up little when use tftrt-FP32 and about 2x using fp16(which use TensorCore). Beside, I have found that NMS op is running on CPU, so memcpyHtoD cost much time.

[2019-08-28 09:23] austingg commented on #80
@PetreanuAndi  `num_nodes(trt_only):0 ` means you haven't used tftrt correctly.

[2019-08-28 10:41] PetreanuAndi commented on #80
@austingg , i used TFRT correctly, basically just ran the provided code with my custom outputs :)
It was just a matter of finding the right setup (tensorflow version / cuda / cudnn)
It seems that SSD + FPN will only be optimised in a nightly tensorflow 1.15 build.

After installing that particular setup, and using the same exact code i had used before, to convert the .pb file, i now have >0 trt_on

[2019-08-29 10:05] aif2017 commented on #96
is there step by step tutorial to do this? I have nvidia-docker and also nvidia tensorrt . now what can I do?

[2019-08-29 12:38] parthdhameliya opened #119 "No improvemenmt in Faster R-CNN after optimizing it with TF-TRT"
I used TF-TRT to optimize the frozen inference graph of Faster R-CNNtrained model. But there is no improvement in inference speed.
I am using following code to get tensorrt optimized graph:

`trt_graph = trt.create_inference_graph(
                 input_graph_def = frozen_graph_def,
                 outputs = output_node_name,
                 max_batch_size=batch_size,
                 max_works

[2019-08-29 18:31] pooyadavoodi commented on #75
Closing. Please reopen in case the issue remains.

[2019-08-29 18:31] #75 closed

[2019-08-29 18:34] pooyadavoodi commented on #77
Closing. Please reopen in case the issue remains.

[2019-08-29 18:34] #77 closed

[2019-08-29 18:34] pooyadavoodi commented on #81
Closing. Please reopen in case the issue remains.

[2019-08-29 18:34] #81 closed

[2019-08-29 18:37] pooyadavoodi commented on #83
You probably need to set `is_dynamic_op=True` in the API.

This explains the difference: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#static-dynamic-mode

[2019-08-29 20:20] pooyadavoodi commented on #87
Supporting while_loop in TF-TRT is not planned yet.
TensorRT itself also doesn't support loops or control ops yet.

Currently, if you optimize your model with TF-TRT, the while_loop would stay in TF, and rest of your graph gets potentially optimized by TF-TRT. So you may already get a good speedup with that.

[2019-08-29 21:44] pooyadavoodi commented on #85
Note that TensorRT follows https://semver.org/

Loading 5.1.2 instead of 5.0.2 is probably fine. That's just a warning message for your information.

[2019-08-29 21:44] #85 closed

[2019-08-29 21:54] pooyadavoodi commented on #89
TF-TRT has got a lot of improvements in 1.14. Please use that one.

The NVIDIA container that has TF1.14 is 19.0:  https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#matrix

[2019-08-29 21:58] pooyadavoodi commented on #89
For NMS, if you can use combined_non_max_suppression in your graph, then you get much better speedup, esp because TF-TRT optimizes that.

If you use the object detection API, you can use the submodule of [tensorflow/models](https://github.com/tensorflow/tensorrt/tree/master/tftrt/examples/third_party) to get combined_nms as follows:

- The config file that you need to change for NMS is pipeline.co

[2019-08-29 22:03] pooyadavoodi commented on #96
Could you post the full log of TF.

It would be good if you can post scripts or command lines you use.

[2019-08-29 22:06] pooyadavoodi commented on #98
Could you post the full log and the model you use.
It's hard to tell what's happening without seeing those.

[2019-08-29 22:08] pooyadavoodi commented on #100
@oak-tree Yes, TensorRT is needed during inference.

[2019-08-29 22:09] pooyadavoodi commented on #100
NVIDIA releases TensorFlow packages for Jetson platform: https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html

[2019-08-29 22:10] pooyadavoodi commented on #100
If your original question was about the Python `tensorrt` module, I think that's not needed if you directly use the C API.

[2019-08-29 22:14] pooyadavoodi commented on #102
Closing. Please feel free to re-open if you still have this problem.

[2019-08-29 22:14] #102 closed

[2019-08-29 22:19] pooyadavoodi commented on #103
We did some optimization in this PR: https://github.com/tensorflow/tensorflow/pull/30789

I don't think this is released yet in any version of TF.

[2019-08-29 22:20] pooyadavoodi commented on #119
If you use TF1.14, you should get some speedup.

Please make sure you use the same TF-TRT API that is used in the examples in this repository.

[2019-08-29 22:23] pooyadavoodi commented on #118
Could you post the full log of TF as explained here: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#verbose

[2019-08-30 02:01] YTLin26 commented on #96
Thanks for your response. You are right, I can convert the detection model (faster-rcnn-resnet50) in nvidia tensorflow docker successfully.
But Is there any way can convert the converted model (tftrt_faster-rcnn-resnet50) to plan file?
Because I want to run this model on tensorRT environment. Anyone has succeeded?

[2019-08-30 02:16] aif2017 commented on #80
could you please explain your steps more?

[2019-08-30 11:38] parthdhameliya commented on #119
I am using TF1.14
My backbone archiecture in Faster R-CNN is Resnet-101.

My above mentioned code is right or not? to get optimized model.

[2019-08-30 17:25] jtressle commented on #87
@pooyadavoodi thanks for the tip.  I reran my model through TF-TRT with while loops, and conversion was about 1 minute.  When I ran TF-TRT on the unrolled model (fixed range of 64), the TF-TRT process took 3 hours, and didn't complete.

Is this normal?  Or is there probably an issue with my cell reuse flags in the model that could be causing issues?  It's a recurrent model so there is added comple

[2019-08-30 18:58] jtressle commented on #87
@pooyadavoodi I went ahead and ran inference using the TR-TRT model in the while loop.  The model is slower than my original (unoptimized) saved model by 20%.

I do get an error when creating the TRT model.

My while-loop implementation is basically:

[code]

The error is:
`layout failed: Invalid argument: MutableGraphView::SortTopologically error: detected edge(s) creating cycle(s) `

and this er

[2019-09-01 00:50] jtressle commented on #87
@pooyadavoodi Hi, I wanted to give you an update and get some thoughts.

For reference, I now using nvidia's 19.08-py3 tensorflow build.

I went ahead and tried TF-TRT on the while loop.  Looks like TF-TRT TensorRTOptimizer  is having an issue with the while loop.  The nightly TF image had no issue with the while loop.

Since my loop has recurrent components, could these be causing issues with TF-

[2019-09-01 03:26] captainst commented on #56
Almost the same result here. Adding `is_dynamic_op=True` in function create_inference_graph does remove the error during conversion.
However, I can confirm that making conversion directly on **Jetson NANO** does not make the model show a noticeable improvement on inference speed.

[2019-09-03 12:27] #105 closed

[2019-09-03 12:44] diligent321 opened #120 "Internal error: could not find any implementation for node conv2d_transpose_1, try increasing the workspace size with IBuilder::setMaxWorkspaceSize()"
Hello,
when i convert my pb model to tftrt FP16, it raised the following error,
"2019-09-03 12:23:15.537205: E tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc:41] DefaultLogger Internal error: could not find any implementation for node generator/generator_unit/conv_tran2highres/conv_tran1/Conv2d_transpose/conv2d_transpose_1, try increasing the workspace size with IBuilder::setMaxWorkspaceSize(

[2019-09-04 09:46] parthdhameliya commented on #119
Please help me I am stucked in this problem.

[2019-09-05 04:02] taozitongxue1 commented on #89
I also encountered the same problem.

time:{'loading_frozen_graph': 0.7235217094421387, 'trt_conversion': 11.104097127914429}
num_nodes:{'tftrt_total': 789, 'loaded_frozen_graph': 985, 'trt_only': 0}
graph_sizes:{'loaded_frozen_graph': 233293316, 'trt': 425277533}

[2019-09-05 04:25] taozitongxue1 commented on #89
hello，pooyadavoodi：
I recently wanted to try the tensorrt deployment model, see: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#matrix , using:
    converter = trt.TrtGraphConverter(input_graph_def=frozen_graph,
                                      nodes_blacklist=['time_distributed_1/Reshape_1'],
                                      max_batch_size=1,

[2019-09-10 10:58] Physicing commented on #56
For my case, shapes was known by model so I made a static conversion in the Jetson Nano device. However, There is very little amount of change happened in my inference time like 0.05 seconds or so. Any suggestion would be appriciated.

[2019-09-11 05:58] mankeyboy commented on #119
The problem you are facing is that the function you are using has been modified in TF1.14 and isn't available in that form. To get the speedups or just to see TF-TRT being used, clone the master branch of this repository using `git clone https://github.com/tensorflow/tensorrt.git`

Install tensorflow-gpu using `pip install tensorflow-gpu`

Install whatever latest TensorRT version is publically ava

[2019-09-11 06:02] mankeyboy opened #122 "Tensorflow 2.0 support for tf-trt examples"
Hi, I can see that there is a new experimental 2.0 branch being maintained for this repository. I wanted to know if there is some timeline by which the entire examples repository is planned to be ported to tf-2.0 or if it is going to be a completely community based effort on the chronological front.

[2019-09-11 11:05] parthdhameliya commented on #119
Thank you @mankeyboy  for your detailed answer.
I am using Faster R-CNN so can you please tell me what changes I have to do in above json file to use it for Faster R-CNN.
I switched to TF 1.12 so that above function runs successfully. I also debugged the optimized graph and it is optimizing it becuse number of nodes is decreased to 93 from 143 in original graph but still it is not showing any impr

[2019-09-12 07:45] mmeendez8 commented on #87
Hi @jtressle, have you been able to finish the TFT-TR process?

Because I'm having a similar problem, the optimization never ends and this is the last messsage I get
`2019-09-12 07:33:46.223752: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1326] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 10373 MB memory) -> physical GPU (device: 0, name: GeForce GTX 1080 Ti,

[2019-09-13 13:12] captainst commented on #56
I think that for some reason, simply using "trt.create_inference_graph" is not enough. The examples provided by Nvidia are mainly c++ stuff so there could potentially be some gap in between.

Besides, in my case, the "loading time" and the "preparation time" for the 1st inference after boot by the converted tensorRT model is notoriously long. It takes 2~3 minutes to load a model at 30MB.

[2019-09-13 13:17] mankeyboy commented on #119
@parthdhameliya, the reason why I was telling you to shift to TF1.14( or TF1.15 )is because they are the ones with the best support with TensorRT as well as the fact that, the TF API has changed 1.13.1 onwards. There are two things you can do:
1. Install tf1.14 or 1.15 (with GPU) and use it with TensorRT and the code on the master branch as I mentioned in the comment above.
2. Shift to the r1.13 b

[2019-09-13 15:04] Physicing commented on #56
By the way, if you could check this [https://jkjung-avt.github.io/build-tensorflow-1.12.2/](url) link and check out step 3: libprotobuf version claimed to make a significant difference in time. Whether if you're on such a device like Jetson Nano( it's my case also.) or in a desktop device, better to check your libprotobuf version for loading times.

Also for those of people that wonder of my model

[2019-09-14 15:58] jtressle commented on #87
@mmeendez8 yes, I was able to get faster conversion using saved_model_cli to convert to a TF-TRT model.  I believe it uses the older API to convert to TF-TRT.  Can you confirm @pooyadavoodi ?

Another option you can try is to unroll the while loop (simple for i in range(n): call).  For my case, the while loop was used to run 256 iterations.  Could this work for you?

[2019-09-15 14:49] parthdhameliya commented on #119
I got it. Thank you @mankeyboy. But here in this jason file it is taking already available model as an input. But I have my own trained model frozen inference graph. So can you please tell me how can I change input so that it takes my model as an input.
I want to only optimize my model I do not want to benchmark it as well as I am using my own model so I do not need Download, Benchmark and Test pa

[2019-09-16 03:54] mankeyboy commented on #119
Check `test.py` inside `tensorrt/tftrt/examples/object_detection`, the function which reads the .json file is being called from there. You can modify the .json file according to your requirement and for your models.

[2019-09-16 16:13] pooyadavoodi commented on #83
Closing. Please reopen if the problem persists.

[2019-09-16 16:13] #83 closed

[2019-09-16 16:16] pooyadavoodi commented on #84
Please track the Windows issue here: https://github.com/tensorflow/tensorflow/issues/23692

Closing.

[2019-09-16 16:16] #84 closed

[2019-09-16 16:28] pooyadavoodi commented on #87
+@aaroey
I'm not sure what version of TF-TRT the saved_model_cli would use. I suppose the latest from master.

Looks like there are two problems we need to look at:
- while_loop breaks the topological sort.
- Unrolled loop for 64 steps increases the conversion time to 3 hours.

@jtressle could you post a repro example (both TF-TRT API call, and the model).

[2019-09-16 16:38] pooyadavoodi commented on #89
`trt_only: 0` suggests no TensorRT node is created. It's impossible to tell why without looking at the log.

Could you rerun the conversion with verbose logging and post the log https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#verbose

I suppose `['time_distributed_1/Reshape_1'` is the output tensor of your model?

[2019-09-16 16:47] pooyadavoodi commented on #96
Each TRTEngineOp in the graph can be converted to a plan file: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#tensorrt-plan

So if you have multiple TRTEngineOp in the graph, each of those needs to be converted to a plan file separately. The ideal would be if your whole graph gets converted to a single TRTEngineOp.

[2019-09-16 16:49] pooyadavoodi commented on #100
Closing. Please reopen if the problem persists.

[2019-09-16 16:49] #100 closed

[2019-09-16 16:51] pooyadavoodi commented on #103
Closing.
Please test with TF 1.15 (rc0 is released), and reopen if the problem persists.

[2019-09-16 16:51] #103 closed

[2019-09-16 16:56] pooyadavoodi commented on #104
@navdeep1604 You would need to install TensorRT if you want to use TF-TRT.

It's possible that TensorRT is not being used in your graph and that's why you don't get good performance.

Closing.
In case the problem persists, please reopen and post the verbose log of you run.
https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#verbose

[2019-09-16 16:56] #104 closed

[2019-09-16 16:57] pooyadavoodi commented on #107
Please use TF 1.14 or a more recent version. Many bugs especially related to NMS got fixed since then.

Closing. Please reopen if the problem persists.

[2019-09-16 16:57] #107 closed

[2019-09-16 17:03] pooyadavoodi commented on #106
As @zhangqijun said, TF1.14 has a new API for calibration.
https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#post-train

Closing. Please reopen if the problem persists.

[2019-09-16 17:03] #106 closed

[2019-09-17 14:17] aaroey commented on #56
As mentioned above, in TF 1.x setting `is_dynamic_op=True` during conversion could help to solve the problem if the input graph has unknown shapes for some of the nodes. Also, if you're interested, TF 2.0 provides a set of simpler [APIs](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/compiler/tensorrt/trt_convert.py#L766-L859) for building TRT engines offline with a set of di

[2019-09-17 15:49] lec00q commented on #56
I'd like to share some progress I have made recently. I have managed to convert a graph directly on the device (**Jetson Nano**) instead of on a V100 GPU machine. To do so I had to enable 64GB of swap space on the device, in order to avoid to run out of memory during the conversion.

I get some interesting results when comparing the TensorRT version of a MobileNetV2 graph against a full graph, whe

[2019-09-17 19:20] aaroey commented on #56
@lec00q with `is_dynamic_op=True` it'll generate the TRT engine online for the first input batch, I think that's why you see the latency for the first inference. TF-TRT 2.0 API has a way to build the engines offline with dynamic shapes, with a restriction that you'll need to run the conversion with a GPU that is the same as the one you run inference with (since TRT engines are not portable).

[2019-09-18 17:36] shortcipher3 opened #123 "Deepstream"
Is there any plan/timeline to support tftrt in deepstream?

Any examples of creating a custom deepstream plugin with tftrt?

[2019-09-19 11:22] captainst commented on #56
@lec00q Thank you for the update. A few days ago I did also withness a slight improvement on speed after conversion. In my case, I used is_dynamic_op=True. The speed gain was about 10~15%, which is lower than your result (yours are over 30% 33fps->45fps). But that is anyway far lower than the officially claimed performance.

[2019-09-19 20:44] aaroey commented on #56
@pooyadavoodi

[2019-09-27 02:59] lannyyip commented on #112
I have the same errror when converting TF model to TRT model in Jetson Nano.

[2019-09-29 09:36] leo-XUKANG opened #126 "UnavailableError: Can't provision more than one single cluster at a time"
my code:
[code]
and i have set:
`import os
os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"]="0"`

 when i run ,i got an error:
`InvalidArgumentError: Failed to import metagraph, check error log for more info`

and then i add a code:
`tf.keras.backend.set_learning_phase(0)`
the error is gone ,but one error rasie:
`UnavailableError: Can't provision more than one single

[2019-09-30 09:15] tobegit3hub opened #127 "Some operators can not be found after converting to TensorRT SavedModel"
We have use the following script to convert the original SavedModel to TensorRT SavedModel.

[code]

Both models can be loaded with TensorFlow Python script but it fails for TensorRT SavedModel. It seems that TensorRT discard some operators when converting from the original computation graph. Here is the error log.

![Screenshot 2019-09-30 at 5 10 39 PM](https://user-images.githubusercontent.com/2

[2019-10-01 15:19] srkm009 opened #128 "Tensorflow 2.0 & TF-TRT"
Hi,

Looking forward for the overall support for the TF2.0 workflow since we have finally TF2.0 officially released. Currently, it is failing without any errors for a lot of networks with no uncommon/ custom layers and in successful cases, i dont notice any speedup at all. TF-TRT indeed has a lot of potential for the deployment use-cases. {I have seen the tf-trt working pretty good with TF1.14 etc

[2019-10-04 14:31] peckhart89 opened #129 "Unsupported FusedBatchNormV3"
L4T # R32 (release), REVISION: 2.1
UFF Version 0.6.3
TensorRT 5.1.6.1
Cuda 10

I receive the error message "unsupported operation _FusedBatchNormV3" from the script below. However the uff model was created successfully and the parser successfully registered the inputs and and outputs. Is this operation truly not supported and if not is there an existing plug in that I can pull in from somewhere?

[2019-10-09 07:57] NurzatRakhman commented on #120
The same error occurred to me with conv2d_transpose layer.

[2019-10-10 18:38] pooyadavoodi commented on #96
Closing. Please reopen in case you still see the issue.

[2019-10-10 18:38] #96 closed

[2019-10-10 18:38] pooyadavoodi commented on #98
Closing. Please reopen in case you still see the issue.

[2019-10-10 18:38] #98 closed

[2019-10-10 18:39] pooyadavoodi commented on #110
I believe this is fixed now. There were some changes in the function names.

Closing. Please reopen in case you still see the issue.

[2019-10-10 18:39] #110 closed

[2019-10-10 18:41] pooyadavoodi commented on #111
I believe this is fixed now. There were some changes in the function names.
Closing. In case you still see the issue, I appreciate it if you make a PR with the fix.

[2019-10-10 18:41] #111 closed

[2019-10-10 18:43] pooyadavoodi commented on #112
What version of TF are you using?
I vaguely remember we fixed this bug in TF1.14.

You can find the latest pip packages for Nano from this link: https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform-release-notes/tf-jetson-rel.html#tf-jetson-rel

[2019-10-10 18:45] pooyadavoodi commented on #113
This issue is tracked here: https://github.com/tensorflow/tensorflow/issues/23692
Closing.

[2019-10-10 18:45] #113 closed

[2019-10-10 18:49] pooyadavoodi commented on #116
What version of TF or TF container are you using.

This model works for me using the following config:

[code]

[2019-10-10 18:50] pooyadavoodi commented on #118
Closing. Please reopen in case you still see the issue.

[2019-10-10 18:50] #118 closed

[2019-10-10 18:52] pooyadavoodi commented on #120
Please update TF to >=1.14 (NVIDIA container >=19.07).
That version of TF supports conv2d_transpose: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#supported-ops

Closing. Please reopen if you still see the issue.

[2019-10-10 18:52] #120 closed

[2019-10-10 18:55] pooyadavoodi commented on #122
We are working on making examples for TF2.0 and improving the current ones.

I think the image classification example in the experimental branch is in a reasonable shape. Please use it and let us know your opinion.

Any help from the community is appreciated. Thanks.

[2019-10-10 18:55] #122 closed

[2019-10-10 19:29] aaroey commented on #126
@leo-XUKANG for the message `InvalidArgumentError: Failed to import metagraph, check error log for more info` could you share the error log?

[2019-10-10 21:40] pooyadavoodi commented on #127
Could you also post the benchmark script?

I'd like to see how you run the converted model.
Looks like the failure happens during runtime, not during conversion.

Does the original saved model (before TF-TRT conversion) run successfully?

[2019-10-10 21:42] pooyadavoodi commented on #128
TF-TRT is supported in TF2.0.

We don't have many examples yet working in 2.0, but we are working on that and improving the current ones.

I think the image classification example in the experimental branch is in a reasonable shape. Please use it and let us know your opinion.

Any help from the community is appreciated. Thanks.

[2019-10-10 21:42] #128 closed

[2019-10-10 21:59] pooyadavoodi commented on #129
This repository is for TF-TRT but you are using UFF which is another path for TF users to use TensorRT.

Please file this issue under https://devtalk.nvidia.com/default/board/304/tensorrt/

Closing.

[2019-10-10 21:59] #129 closed

[2019-10-14 10:39] zarar7576 opened #134 "How to make/use INT8 optimization calibration files for custom object detection dataset"
I am trying to optimize some of my object detection models, that i have trained using my custom data set, for inference. How does one create custom calibration files for INT8 optimization

[2019-10-15 06:36] arielbenitah commented on #112
This was caused by incompatible TF versions. Thanks all for your help.

[2019-10-15 06:36] #112 closed

[2019-10-16 15:44] mminervini commented on #106
I find myself in a similar situation as @Meresmata...
I have a workflow to go from a Keras model to a TF-TRT model for deployment, that is based on freezing a graph and finally using `create_inference_graph()` to obtain the TRT graph. This works for FP32 or FP16. Instead, for INT8 conversion the resulting model is slower than FP32, because (as far as I understood) I am missing the calibration step

[2019-10-17 15:21] anuar12 commented on #89
I didn't get any inference boost with FP16 conversion on 2080 Ti too. The inference speed is the same.
I used TF1.14, converted keras retinanet into SavedModel.
Here are some of the code and logs if it's helpful:

[code]

[code]

[2019-10-17 23:44] pooyadavoodi commented on #134
You would want to use a subset of your training data as the calibration data.
The number of samples depends on the diversity of them.

[2019-10-18 02:38] Programmerwyl commented on #89
I found that the reason why there was no TRTEngineOp was not the code, but the hardware platform. I ran the same code on PC with mobilenet_v2. After optimization, TRTEngineOp was 0 with 426 total nodes, but I ran it on tx2 with only 3 nodes, which was much faster

[2019-10-18 02:39] Programmerwyl commented on #89
on tx2 log info
2019-10-18 10:21:59.917225: I tensorflow/core/grappler/optimizers/meta_optimizer.cc:741]   constant folding: Graph size after: 427 nodes (-262), 436 edges (-262), time = 339.122ms.
2019-10-18 10:21:59.917289: I tensorflow/core/grappler/optimizers/meta_optimizer.cc:741]   layout: Graph size after: 435 nodes (8), 438 edges (2), time = 68.517ms.
2019-10-18 10:21:59.917336: I tensorflo

[2019-10-18 02:42] Programmerwyl commented on #89
Generate the optimized graph on PC and run the graph on tx2
trt new
mobilenet_v2  trt  13.124145984649658
mobilenet_v2  trt  0.02857375144958496
mobilenet_v2  trt  0.025561094284057617
mobilenet_v2  trt  0.024762630462646484
mobilenet_v2  trt  0.024967432022094727
mobilenet_v2  trt  0.025426864624023438
mobilenet_v2  trt  0.027881860733032227
mobilenet_v2  trt  0.022449254989624023
mobilenet_v2  t

[2019-10-18 02:42] Programmerwyl commented on #96
I found that the reason why there was no TRTEngineOp was not the code, but the hardware platform. I ran the same code on PC with mobilenet_v2. After optimization, TRTEngineOp was 0 with 426 total nodes, but I ran it on tx2 with only 3 nodes, which was much faster

[2019-10-18 02:47] Programmerwyl commented on #89
But there is still a problem
when  Generate the optimized graph on TX2 and run the graph on tx2
    with tf.gfile.FastGFile(graph_path, "rb") as f:
        graph_def.ParseFromString(f.read())
        tf.import_graph_def(graph_def, name='')
it is too slow. it cost 290.40938997268677seconds
especially this code '  tf.import_graph_def(graph_def, name='')'

[2019-10-18 07:46] #134 closed

[2019-10-18 08:09] Mythos-Rudy commented on #89
@Eloring Hello, I tried your method with tensorflow 1.14, It's useful, thank you very much!
But, I am really confused that why trt_model is bigger than original_model? Especially I covert the model from FP32 to FP16 or INT8
 `graph_size(MB)(**native_tf**): **27.4**
graph_size(MB)(**trt**): **53.2**
num_nodes(native_tf): 6127
num_nodes(tftrt_total): 2894
num_nodes(trt_only): 3`

[2019-10-18 08:40] Programmerwyl commented on #89
@Mythos-Rudy
Hi ,How do you install tensorflow 1.14?
Where can I get the installation package? Can I get a website？
Thanks

[2019-10-18 09:03] Eloring commented on #89
@Programmerwyl
I met the same problem, i.e. `tf.import_graph_def` is too slow, which is because importing a *.pb model will call `ParseFromString()` and this function is provided by the protobuf.
I solved it by compiling a cpp-implemented protobuf from source, as I have recorded [here](https://github.com/Eloring/Tensorflow1.14-cuda10.1#protobuf-371---cpp_implementation-python-from-source).
Hope th

[2019-10-18 09:09] Eloring commented on #89
@anuar12
I am not sure whether 2080 Ti supports FP16, https://docs.nvidia.com/deeplearning/sdk/tensorrt-support-matrix/index.html#hardware-precision-matrix

[2019-10-18 11:20] Mythos-Rudy commented on #89
@Programmerwyl
Sorry, I don't know what you mean.
I installed TensorFlow in Linux env, so  I just pip install tensorflow==1.14.0

[2019-10-21 03:52] Programmerwyl commented on #89
@Eloring
Thank you very much for your reply. I have solved the problem of slow loading of graph.
 Thanks again for your solution

[2019-10-21 13:06] PolinaDemochkina opened #135 "NotFoundError: Container TF-TRT does not exist."
Hello,
I'm trying to use the image_classification.py script to quantize a model, however, I get the following error: "tensorflow.python.framework.errors_impl.NotFoundError: Container TF-TRT does not exist. (Could not find resource: TF-TRT/TRTEngineOp_1) [Op:GetCalibrationDataOp]"

Using Tensorflow 2.0

Here's the code I use to create and save a test model:

[code]

The command I use to run the scr

[2019-10-22 10:34] AnaRhisT94 opened #136 "How to inspect TensorRT model w/ TF 2.0"
Hi,
I've used the following code to convert:
[code]

How can I inspect the saved model and see if it has for e.g. TRTEngineOps?

This is the output I received:

[code]

[2019-10-23 07:21] Programmerwyl commented on #89
@Mythos-Rudy
I installed tensorRT through conda, and then sudo pip3 install tensorflow-gpu==1.14.0
and it does not work
The development environment is ubuntu 18.04
The computer's graphics card is 1060
the tftrt_total  is zero

[2019-10-23 08:13] chinesesoft8 opened #137 "Why no improvemenmt in the object_detection example"
tensorflow-gpu1.14
CUDA10.1
GPU gtx1080

my_test.json
{
  "model_config": {
    "model_name": "ssd_resnet_50_fpn_coco",
    "input_dir": "/home/liujt/software/tensorrt/data",
    "batch_size": 8,
    "override_nms_score_threshold": 0.3
  },
  "optimization_config": {
    "use_trt": true,
    "precision_mode": "INT8",
    "calib_images_dir": "/home/liujt/software/tensorrt/data/train2017",
    "num_

[2019-10-23 08:16] chinesesoft8 commented on #137
use_trt = true
{
    "avg_latency_ms": 533.185324338403,
    "avg_throughput_fps": 15.004163908537258,
    "map": 0.2776245020621034
}
ASSERTION PASSED: statistics['map'] > (0.277 - 0.01)

use_trt = false
{
    "avg_latency_ms": 523.7633502129281,
    "avg_throughput_fps": 15.274073676112925,
    "map": 0.2776245020621034
}
ASSERTION PASSED: statistics['map'] > (0.277 - 0.01)

[2019-10-25 02:22] dominicshanshan commented on #137
You are using NVIDIA GTX1080 graphic card which is last generation pascal architecture, they do not have tensor core yet, therefore will not support FP16/INT8 automatic mixture precision. So you basically use FP32 to do tensorRT inference. So there is no acceleration.

[2019-10-25 03:47] chinesesoft8 commented on #137
thanks very much, use FP32 to do  tensorRT inference compared  not use tensorRT interface has no improvement ?  But tensorRT  has optimise the graph, does this cann't accelate?

[2019-10-25 04:02] dominicshanshan commented on #137
but in your my_test.json, in precision_mode you are using INT8 instead of FP32, maybe you can change it and re-try again ?

[2019-10-25 06:38] MachineJeff commented on #127
Hi, I have met this problem too, but has little difference.

My problem is I lost all input nodes when I transform ckpt file to pb file.
Why this happened? because I only use the ckpt files to restore the original graph structure without origin code. However, my model was built separately, which means that the .meta file only save a subgraph it self, so I met the lost problem.

In other words, may

[2019-10-25 06:41] MachineJeff commented on #135
try
`docker pull nvcr.io/nvidia/tensorflow:19.09-py3`

[2019-10-25 06:44] MachineJeff commented on #136
may be you can try graph_transforms toolkit

`bazel build tensorflow/tools/graph_transforms:summarize_graph
bazel-bin/tensorflow/tools/graph_transforms/summarize_graph --in_graph=my.pb`

[2019-10-25 07:04] MachineJeff commented on #86
你是直接 docker 把它pull下来做的，还是单独安装tensorrt之后做的？

[2019-10-25 07:26] MachineJeff opened #142 "How to test if my TensorFlow has TensorRT?"
I have installed tensorflow with pip

`pip install tensorflow-gpu==1.14.0`

Then how to test TensorRT exists?

[2019-10-25 14:55] anuar12 commented on #89
@Eloring Yes 2080 Ti has to support FP16 because it is 7.5 compute capability with tensor cores.

[2019-10-25 17:35] panchgonzalez commented on #142
Run the following to check the linked and loaded TensorRT versions
[code]

If TensorRT is linked and loaded you should see something like this:
[code]

Otherwise you'll just get `(0, 0, 0)`

I don't think the pip version is compiled with TensorRT. You have to either build TensorRT and enable it at Tensorflow compile time or use one of [Nvidia's Tensorflow Docker container images](https://docs.nvid

[2019-10-28 02:12] MachineJeff commented on #142
@panchgonzalez  good solution, Thank you!
my result is `(0, 0, 0)`， you say build TensorRT and enable it at Tensorflow compile time, How to do that?  use bazel to install tensorflow from origin code？

[2019-10-28 07:01] Eloring commented on #86
@MachineJeff 自己编译的tensorflow和tensorrt。我后来发现没有提高是因为机器不支持FP16和INT8，换了V100就好了（（哈哈哈哈

[2019-10-28 07:03] MachineJeff commented on #86
@Eloring 啊哈哈哈 好的。顺便问下，自己编译tensorflow和tensorrt是指用源码安装么？ bazel？

[2019-10-28 07:04] Eloring commented on #86
@MachineJeff 对。

[2019-10-28 07:05] MachineJeff commented on #86
@Eloring OK！我也试一下，docker镜像真的是太慢了，没有国内的源

[2019-10-28 07:06] MachineJeff commented on #86
@Eloring 等等，最后一个问题，TF是1.14么？哪个版本开始支持tensorrt

[2019-10-28 07:08] Eloring commented on #86
1.14好用点～

[2019-10-28 07:08] MachineJeff commented on #86
@Eloring 好滴~谢谢您

[2019-10-28 08:10] MachineJeff commented on #142
@panchgonzalez  Thank you very much! It's very nice of you!

[2019-10-28 08:10] #142 closed

[2019-10-28 15:06] luvwinnie commented on #98
hi, i have the same issues with tensorflow-2.0 stable version. Is this because my model input is (32,None,3)? which contains a variable size of width?

[code]

[2019-10-28 17:32] luvwinnie opened #145 "OP_REQUIRES failed at partitioned_ops, but tensorRT model can be loaded"
I'm using a TensorFlow 2.0 stable version and converted to saved_model, and then use the following code to convert to tensorrt.

[code]

When I loaded to tensorflow_model_server, the model loaded without errors. However,  when I try to inference, it shows below errors from the model server as the response.

[code]

How can I solve this? I used the layers which are supported by tensorRT.
Below is m

[2019-10-30 02:19] superhg2012 opened #146 "tensorrt savedmodel pb can not be imported into tensorboard and serving with tf serving"
Hi, I  am using tf-trt  in my Tacotron model.

My question :  the tf-trt optimized saved model can not import into tensorboard  and deployed through  TF-Serving

tensorflow : 1.13.0-rc0
tensorrt : 5.0.2.6

My steps :

1  export savedmodel using  saved_model_builder:

    saved_model.pb
    variables
        --   variables.data-00000-of-00001
       --    variables.index

2    tensorrt  optimizatio

[2019-10-30 16:05] dbrazey opened #147 "Object detection C++ FP16 inference"
Hello,

I am working on object detection with tensorflow 1.14. I have the following training pipeline:

- training SSD mobilenet inception v2 300x300 on my custom dataset using the object detection API and check accuracy with tensorboard
- freeze the model with export_inference_graph.py located in the object detection module

I can use the generated file for inference with the tensorflow C++ API (

[2019-11-01 11:34] MachineJeff opened #148 "Failed to build TensorRTengine"
Hi，I have used the following code to transform my saved model with TensorRT:
[code]

after finished it, I used the following code to inference:
[code]

Although I get the right output, I received the following warning message:

[code]

And the cost time is the same as the origin model. I wonder if TensorRT really worked?

Besides, I also tried FP32 FP16 model,  the cost time do not changed.

[2019-11-05 01:57] rmccorm4 commented on #148
Copying over @MachineJeff's details from related bug (https://github.com/NVIDIA/TensorRT/issues/193) as I wasn't too helpful on this one :slightly_frowning_face:

---

Maybe I get the real error point
I use the following code to change the savedmodel with `INT8`:
[code]
The convertion is no problem:
[code]
But the calibration got some error:
[code]
the key is:
[code]
What happened? I am sure my mo

[2019-11-05 02:08] MachineJeff commented on #20
I met the problem in #148

[2019-11-05 02:33] MachineJeff commented on #86
@Eloring  哈喽 我用自己编译的环境 和 docker环境都做了自己模型的实验，发现并没有提速（T4的卡） #148 您能不能帮帮忙

[2019-11-05 02:38] MachineJeff commented on #99
@chong-lee 哥，线上推理 需要tensorflow 动态库 这是啥意思

[2019-11-05 02:45] chong-lee commented on #99
线上推理依赖支持tf-trt的tensorflow动态库

[2019-11-07 02:41] elvys-zhang commented on #86
@MachineJeff 如果没有提速的话，看下转出来的模型中有trt的node吗？
[code]

[2019-11-08 00:08] pooyadavoodi commented on #116
Closing. Please feel free to reopen if you still see the problem.

[2019-11-08 00:08] #116 closed

[2019-11-08 00:41] pooyadavoodi commented on #136
Something like below shows how to access the graph:

[code]

[2019-11-08 00:46] pooyadavoodi commented on #136
But that only tells you what ops are in the graph. TRTEngineOp doesn't necessarily run TensorRT, it could sometimes fallback to native TF depending on issues arising during runtime.

I think the best way to make sure TensorRT is being executed is to follow the log during execution.

You can also make it more verbose to follow the steps: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-g

[2019-11-08 00:58] pooyadavoodi commented on #137
NMS (non-maximum--suppression) is quite expensive.

There is an NMS op called combined_nms  that you can use for SSD.
TF-TRT can optimize that op quite well.

When you build the model using the object detection API, try `use_combined_nms` in the postprocessing pipeline config file.

[2019-11-08 07:08] Eloring commented on #86
@MachineJeff 我的实验来看TRT node不一定能提速，但是量化确实可以，你试试FP6和INT8

[2019-11-08 07:09] MachineJeff commented on #86
@Eloring 量化 是用什么工具呢？
@elvys-zhang 有trt的node的，但是没有提速，可能还慢了

[2019-11-08 07:12] Eloring commented on #86
@MachineJeff 就是降低精度`precision_mode="INT8"`

[2019-11-08 07:13] MachineJeff commented on #86
@Eloring 你可以看看我的issue，我试过 INT8，还是不行 哭了

[2019-11-08 07:22] Eloring commented on #86
@MachineJeff 我看了你的issue，你没用他这个[repo](https://github.com/tensorflow/tensorrt/tree/master/tftrt/examples/object_detection)提供的方法，你写得那么简单应该是不行的

[2019-11-08 07:23] MachineJeff commented on #86
@Eloring 好的 我继续 改进一下，非常感谢你的 这么长的回复，爱了爱了

[2019-11-08 14:56] aaroey commented on #145
@luvwinnie could you provide a complete reproduction, especially instructions on how you load the model to tensorflow_model_server and do inference?

[2019-11-08 20:09] srinivas-varadharajan opened #149 "No performance improvement with TF-TRT optimization (ResNet50, DenseNet121)"
System Information:

Container Image: nvcr.io/nvidia/tensorflow:19.10-py3

OS Platform and Distribution: Ubuntu 18.04
TensorFlow Version: tensorflow-gpu  1.14.0+nv
Python Version: 3.6.8
CUDA/cuDNN version: 10.1 / 7.6.4
GPU Model and Memory: T4 / 16 GB

Hey Guys,

I don't see any performance improvements while using TF-TRT optimized graph for inference. I've tried both ResNet50 and DenseNet121.  It

[2019-11-09 03:55] luvwinnie commented on #145
@aaroey I used the docker tensorflow/serving and just load the model. Really just a simple command like
below docker command.
[code]

Then i used the following client to request the REST API.

[code]

Note: The model before using the tensorrt to optimized is working properly.

[2019-11-11 04:37] ArtificialNotImbecile opened #150 "Use decoded string as input produce unexpected result"
I have a frozen graph optimized by tftrt, the outputs are exactly the same as using the un-optimized graph. But, when I use base64 encoded strings as input, the result is totally wrong, here is how I produce the graph with ase64 encoded string as input. (I've tested frozen graph without tftrt optimization using base64 encoded string as input and it works exactly as I expected. This is totally unre

[2019-11-11 07:34] hudengjunai commented on #89
I have compile the tensorflow with tensorRT ,but there is also no speedup ,Did I compile wrong?how did you compile the Tensorflow with TensorRT ,which tf and trt version? could you please give me some tips?

[2019-11-11 11:32] prnvjb commented on #68
Hey @pooyadavoodi
Could you give please explain that mechanism?
Thanks!

[2019-11-12 02:54] #150 closed

[2019-11-13 21:42] dhinkris opened #151 "No significant performance improvement on UNET semantic segmentation model."
Hi,
I used TFTRT to optimize the 3D UNET segmentation. I couldn't find any significant improvement in the speed.
On a P100 GPU, for a batch size of 4 averaged for 20 runs:
i) keras model = 0.78s
ii) TFTRT-FP32 = 0.74s
iii) TFTRT-FP16 = 0.74s

Can somebody help if this can be optimized?
Thank you

[2019-11-14 07:17] gftd opened #152 "uff.model.exceptions.UffException: Const node conversion requested, but node is not Const"
Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/bin/convert-to-uff", line 10, in <module>
    sys.exit(main())
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/uff/bin/convert_to_uff.py", line 92, in main
    debug_mode=args.debug
  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/uff/converters/tensorflow/conversion_helpers.py", line 229, in from_tensorflow_fro

[2019-11-14 16:31] maurera opened #153 "No module named 'tensorflow.python.compiler.tensorrt'"
**Platform**: Tensorflow 2.0. Python 3.7. Testing on local windows machine with no GPU before deploying to AWS EC2 machine with GPU.

Apologies if this is a very simple question.

I'm trying to use TensorRT for the first time in order to speed up model predict time. The nvidia documentation: [2.2.4. TF-TRT 2.0 Workflow With A SavedModel](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-

[2019-11-15 21:51] bill2239 commented on #119
I also have this issue. I converted my own faster rcnn model to tensorRT but notice that it is actually 2 times slower than non-optimized model.  I'm using tf1.14 as well and it was converted from frozen model btw. Is there any update on this issue?

[2019-11-15 22:41] maurera commented on #153
Issue solved by running on GPU machine. tensorflow.python.compiler.tensorrt appears to be included in tensorflow-gpu, but not (standard cpu-only) tensorflow

[2019-11-15 22:41] #153 closed

[2019-11-18 10:23] MachineJeff opened #154 "TF-TRT can not deal with dynamic_rnn, right?"
Hi
I have tested TensoRT in my model so mant times, but always failed.
After debug the model, I suspect that TensorRT can not deal with dynamic_rnn, because in dynamic_rnn, `tf.while_loop` is called.

[2019-11-18 10:27] #148 closed

[2019-11-18 19:40] rmccorm4 commented on #154
(Duplicate of https://github.com/NVIDIA/TensorRT/issues/226)

Hi @MachineJeff,

Unfortunately the parsers do not currently support this. This is related to: https://github.com/NVIDIA/TensorRT/issues/220#issuecomment-554110947

At the moment, I think it is possible to implement directly through the TensorRT API, but you would need to save your model's weights (numpy arrays), create the model from s

[2019-11-19 02:20] MachineJeff commented on #154
Solved.
disscussion is in [NVIDIA/TensorRT#226](https://github.com/NVIDIA/TensorRT/issues/226).

[2019-11-19 02:20] #154 closed

[2019-11-19 07:36] WeiFoo opened #157 "Jupyter Notebook kernel dies automatically"
I was trying to run the following notebook on Ubuntu 18.04 with T4 GPU on EC2,

https://github.com/tensorflow/tensorrt/blob/master/tftrt/examples/image-classification/TFv2-TF-TRT-inference-from-Keras-saved-model.ipynb

I can run most cells until *TF-TRT FP32 model* section, the kernel will die automatically.

Anyone has an idea? Thanks!

[2019-11-29 13:18] sayakpaul commented on #157
I am also experiencing the same. Any pointers @pooyadavoodi?

[2019-12-05 11:33] zychen2016 commented on #80
could you please explain your steps more? @PetreanuAndi

[2019-12-12 22:47] zheng-xing commented on #151
Hi @dhinkris ,

Can I ask how you converted the TensorFlow model to TensorRT engine?

I encountered problems with Conv3D operator so I have to build the network in Pytorch and then export to ONNX format.

Then I have another problem using TensorRT carried onnx parser, which complained paddings having size == 8.

Thanks.
Zheng

[2019-12-13 22:38] reactivetype commented on #149
Have you tried using TF2.0 and TensorRT 6.1?

[2019-12-13 22:50] reactivetype commented on #137
@pooyadavoodi  if using CombineNonMaxSuppression in TF2.0 and TensorRT 6.1, does it support Int8 inference?

 If not, can I force the converter to use CPU for NMS? It looks like ConverterV2 does not have a blacklist op parameter.

What is best practice if I cannot use some op in Int8 mode with TF2?

[2019-12-13 23:27] pooyadavoodi commented on #137
I think TRT will fallback to fp32 in case int8 is not supported for a layer/plugin. In general, you shouldn't worry about if some ops aren't supported in int8 because that's taken care of inside TRT.

That being said, there is currently no way to tell the converter to not convert a particular op.

[2019-12-13 23:43] pooyadavoodi commented on #157
I have seen an issue related to running int8 calibration in the same process that previously ran fp32/fp16 conversion. But if you run each conversion once per process, I expect it to work.

[2019-12-13 23:56] pooyadavoodi commented on #157
I just tried TF-TRT FP32 and it worked.
I got the following perf on a P100:
[code]

Perhaps some colab nodes aren't stable?

[2019-12-14 00:30] pooyadavoodi commented on #151
@dhinkris Could you run TF-TRT with verbose logging and attach the log here.

What version of TF and TRT did you use?

[2019-12-14 02:45] sayakpaul commented on #157
Yeah, it might be the case. Worth propagating to the Colab team, I guess.

[2019-12-16 19:43] reactivetype commented on #137
Thank you for your reply. I got this error in Int8 mode:

[code]

[2019-12-17 07:31] ou525 commented on #147
@dbrazey Where is the c ++ interface routine

[2019-12-18 08:38] Somyarani1113 commented on #119
@parthdhameliya can you tell me the output_node_name of Faster R-CNN model that you have converted. I am unable to convert the model which is Faster R-CNN inception-v2

[2019-12-18 11:55] nanawe commented on #86
这个是gpu 还是 cpu, 这个cpu和gpu都会提高么？最终结论是啥？什么情景能提速啊？

[2019-12-18 11:55] nanawe commented on #86
什么情况下能提速啊

[2019-12-18 16:46] raphaelvorias commented on #157
My kernel is also dying when doing this step. FP32, FP16 on GTX 1060.

[2019-12-18 18:24] parthdhameliya commented on #119
Output nodes are:
outputs=["detection_boxes", "detection_scores", "detection_classes", "num_detections"],

[2019-12-19 11:04] stengoes opened #165 "Mismatch in output: Native TF vs TF-TRT FP32"
I am experiencing a big accuracy drop when comparing our model in native TF (~88% accuracy) vs a TF-TRT FP32 optimized version (~64% accuracy). Am I missing something or could this be a bug?

**Explaining the model:**
Our model is a bit different than most models because we take 6 different images as input instead of just 1. Our model takes 6 images as input and outputs softmax probabilities (20 c

[2019-12-19 15:04] stengoes commented on #165
The same exact code example does result in the same outputs in a docker container with image nvcr.io/nvidia/tensorflow:19.11-tf1-py3.

So it is either a bug in TensorRT 5.1.5 or cudnn 7.6.2 which is solved in TensorRT 6.0.0 or cudnn 7.6.5.
Since they are the only differences between tensorflow/tensorflow:1.15.0-gpu-py3-jupyter and nvcr.io/nvidia/tensorflow:19.11-tf1-py3.

[2019-12-19 15:40] #165 closed

[2019-12-20 05:25] pooyadavoodi commented on #137
I think the log says TF is trying to run combined_nms instead of TRT, which means TF-TRT couldn't convert that to TRT for some reason. Hopefully the conversion log explains why that particular conversion failed (you might need to increase the verbosity of the log). I have tested the conversion for SSD but not for Yolo. It's possible that the op attributes have unsupported values.

TF fails to run

[2019-12-21 19:04] raphaelvorias opened #166 "How to serialize your tf2 model to .plan"
Currently, the examples show how to go from a SavedModel to a graph function (`get_func_from_saved_model`) and do basic inference. However, for production environments, I could image that you'd want to host your tfTrt model in the TensorRT c++ environment. For this, the TensorRT documentation gives the following advice:

[](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.ht

[2019-12-23 15:57] raphaelvorias commented on #166
The trick was to copy an updated `convert_to_constants.py` in the docker container, I've written down some instruction on the [Nvidia Dev Forums](https://devtalk.nvidia.com/default/topic/1068371/tensorrt/tf-trt-why-have-to-create-tensorrt-engine-every-time-of-inference-/post/5414123/#5414123)

[2019-12-24 06:05] aaroey commented on #145
@luvwinnie could you try with tensorflow/serving:latest-gpu?

[2019-12-24 16:00] dhinkris commented on #151
@pooyadavoodi below are the logs
for FP32
2019-12-24 10:55:50.344930: I tensorflow/core/grappler/optimizers/meta_optimizer.cc:716] Optimization results for grappler item: tf_graph
2019-12-24 10:55:50.344979: I tensorflow/core/grappler/optimizers/meta_optimizer.cc:718]   constant folding: Graph size after: 298 nodes (-126), 326 edges (-140), time = 2886.54199ms.
2019-12-24 10:55:50.344985: I tensor

[2019-12-24 16:04] dhinkris commented on #151
@zhen-xing I used keras models and converted it to tensorflow model. You can take a look at the below function

class FrozenGraph(object):
    def __init__(self, model, shape):
        shape = (None, shape[0], shape[1], shape[2], shape[3])
        x_name = 'image_tensor_x'
        with K.get_session() as sess:
            x_tensor = tf.placeholder(tf.float32, shape, x_name)
            K.set_learn

[2019-12-27 02:24] MrCrazyCrab opened #167 "where is TrtGraphConverter api in tensorflow 1.13.1"
i want to use TensorRT inference Engine, but i met a problem that the python can't find TrtGraphConverter api. My tensorflow  is 1.13.1

[2019-12-29 06:28] lxl910915 commented on #167
https://github.com/tensorflow/tensorflow/blob/v1.13.1/tensorflow/contrib/tensorrt/python/trt_convert.py

[2020-01-02 05:03] colin-zhou commented on #152
encounter the same problem.

[2020-01-02 17:57] pooyadavoodi commented on #152
This repository is not for UFF (it's only for TF-TRT). Please report this failure in https://devtalk.nvidia.com/default/board/304/tensorrt/

[2020-01-03 23:26] zyenge commented on #126
I'm facing the same issue, sample code is here: https://gist.github.com/zyenge/2595f3369e7e6128dcc79b1a30c3e3cd
I tried both frozen model and SavedModel, neither works

[2020-01-04 00:09] pooyadavoodi commented on #151
Could you attach the full log.  This one doesn't have the information I am looking for.
Here is how to get verbose logging: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#verbose

[2020-01-04 05:36] aaroey commented on #126
@pooyadavoodi have you encountered similar issue before?
Also @bixia1

[2020-01-07 07:48] lxl910915 opened #168 "tensorflow_model_server always prints 'Building a new TensorRT engine', insteadof serving"
[code]

[2020-01-08 15:07] mankeyboy opened #169 "Image Classification example with TensorRT 7 and TF 2.1 running into problems"
Hi everyone, I'm trying to run the Image Classification example with TF 2.0 and TensorRT 7.
The changes in the API have now made it that the dependency on NETS has been removed but now, it seems that the code asks for a frozen graph file.
I tried downloading the file from here: http://download.tensorflow.org/models/official/resnet_v1_imagenet_savedmodel.tar.gz
and then I put it in a folder and gav

[2020-01-08 16:03] mankeyboy commented on #169
@pooyadavoodi  Any guidance here would be helpful :)

[2020-01-08 23:30] pooyadavoodi commented on #169
Looks like the output of the graph (i.e. `graph_func(batch_images)`) is a list instead of a tensor. Check how many items are in the list. My guess is that the output tensor is the first item in the list. If that's the case, you can do something like this: `batch_preds = graph_func(batch_images)[0].values().numpy()`

[2020-01-08 23:40] pooyadavoodi commented on #168
Looks like there engines are for different subgraphs due to having different numbers `TRTEngineOp_29` or `TRTEngineOp_30` (each number indicates a different subgraph).

The way this works is that the first time you execute inference with some data, engines get built for all the subgraphs. Every time a new engine gets built, the inference is also executed right after that. The second time you execu

[2020-01-09 04:42] mankeyboy commented on #169
Thanks @pooyadavoodi . Your suggestion worked and I was able to succesfully run the synthetic test for batch size 128. However, when I tried to run it next for batch size 1, the same line in the code gave this error:
[code]

[2020-01-13 03:28] chiehpower opened #173 "After using the tf-trt, there is nothing happen."
Hi,

I was following this instruction.
https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#usage-example

This is my code.
[code]
Then I got this output messages.
[code]

However, there is no trt model in my output directory.
[code]

My model, mask_rcnn_inception_v2_coco_2018_01_28, was downloaded from [here](https://github.com/tensorflow/models/blob/master/research/object

[2020-01-13 12:20] vinhngx commented on #75
@argman we've now got a TF-TRT C++ example here https://github.com/tensorflow/tensorrt/tree/r1.14%2B/tftrt/examples/cpp/image-classification

[2020-01-14 07:13] suhyung-code42 commented on #110
add "build_model" at 1st line of  __init__.py like below

from .object_detection import download_model, download_dataset, optimize_model, benchmark_model, build_model

[2020-01-22 06:37] anshkumar opened #174 "INT8 Quantization with tfrecord"
I've saved a model with the following tensors:

[code]

Now I want to convert the graph into RT with INT8 quantization. The code is as follows:

[code]

But this is throwing me following error:

[code]

[2020-01-22 06:38] anshkumar opened #175 "INT8 quantization failing"
I'm trying to quantize my model using some random numbers like this:

[code]
But it is throwing me following error:

[code]

[2020-01-23 14:58] JuHyung-Son opened #176 "Quantized saved_model size increased."
I followed colab tutorial and noticed that quantized mode size is increased after converting.
Is this an expected result?? I expected the quantized model size would be decreased.

I checked this PR [30789](https://github.com/tensorflow/tensorflow/pull/30789), but it doesn't work as expected.

TF 2.0.0
tensorrt 5.1.5

[code]

[2020-01-24 04:47] JuHyung-Son opened #177 "Not all checkpoint values were used."
tensorflow=2.1.0
tensorRT=6.1.0

I  saved `tf.keras.applications.resnet50` as saved_model and convert with tf-trt with `converter.build()` as below.

[code]

I found there is a performance increase. But .pb size increased. I guess `converter.save()` after `converter.build()` saves unnecessary checkpoints inside, as WARNING says below.

[code]

[2020-01-24 11:42] mankeyboy opened #178 "Object Detection example with TRT7 and TF2.1 issues"
I'm creating this issue to help collect the issues in the Object Detection example:

To start, I have followed the steps and setup the dependencies. Now, attempting to run :
[code]
Gives this error:
[code]

[2020-01-25 13:43] SirPhemmiey commented on #126
Hey guys, is there any fix to this please?

[2020-01-27 09:12] mankeyboy commented on #169
@pooyadavoodi Any ideas for above?

[2020-01-27 15:57] aaroey commented on #126
@sanjoy @bixia1 could you help to investigate this?

[2020-01-27 18:09] SirPhemmiey commented on #126
I think the issue was the number of GPU memory fraction allocation

[2020-01-28 07:10] suhyung-code42 opened #179 "how can I link tensorflow with tensorrt specific version?"
I have installed various TensorRT versions. and below is my system.

(tf2.0) suhyung@suhyung:~$ dpkg -l | grep nvinfer
ii  libnvinfer-bin                                               7.0.0-1+cuda10.0                                      amd64        TensorRT binaries
ii  libnvinfer-dev                                               7.0.0-1+cuda10.0                                      amd64

[2020-01-29 14:32] aalugore commented on #178
This is the exact same issue I am seeing here https://github.com/tensorflow/tensorflow/issues/33184#issuecomment-577881589

Looks like this is more widespread than just me. Hopefully this means it will get more attention.

[2020-01-29 15:26] dhinkris commented on #151
Hi @pooyadavoodi ,
I am getting the same log if I use these flags:
TF_CPP_VMODULE=segment=2,convert_graph=2,convert_nodes=2,trt_engine=1,trt_logger=2

But if I use this flag, I got lot for 4gb.
TF_CPP_MIN_VLOG_LEVEL=2 python

I have uploaded that file here.
https://documentcloud.adobe.com/link/track?uri=urn%3Aaaid%3Ascds%3AUS%3Ad03518c5-cc26-4685-9c4c-6b32713b4b48

 Please let me know if this is h

[2020-01-30 07:51] suhyung-code42 commented on #179
If user want to use specific version library with tf, user should build install binary by self after setting configure.

[2020-01-30 07:51] #179 closed

[2020-01-30 08:40] suhyung-code42 commented on #178
I met similar error. My test env is "tf2.0-trt7.0"

Benchmark arguments:
  annotation_path: None
  batch_size: 1
  calib_data_dir: None
  data_dir: .
  display_every: 100
  gpu_mem_cap: 0
  input_saved_model_dir: /home/suhyung/work/git/tf_trt_models/examples/detection/data/faster_rcnn_resnet50_coco_2018_01_28/saved_model/
  input_size: 640
  max_workspace_size: 1073741824
  minimum_segment_size: 2

[2020-02-03 09:05] #168 closed

[2020-02-10 07:49] mankeyboy commented on #177
I'm also seeing this warning with TF2.1.0 but with TRT7, a frozen_graph and only for INT8 with resnet50. I'm getting decent accuracy as well so I think it is a different issue this warning is pointing to.

[2020-02-13 08:10] mankeyboy commented on #178
I've been able to clear a few of the above errors and now I'm able to get it working for even batch sizes using the models from the r1.14+ branch of the code. However, the output I'm getting doesn't give the correct accuracy and the logs tell that because the saved_model.pb in the model
Eg:
[code]
doesn't have variables saved in the variable folder and so I'm basically running an untrained graph.

[2020-02-13 16:16] aaroey commented on #178
@tfeher could you help to take a look at this?
Also @bixia1

[2020-02-14 09:12] mankeyboy commented on #178
I updated https://github.com/tensorflow/tensorflow/issues/36724 with new comments for the bug I have raised there.

[2020-02-17 06:14] double344931987 commented on #148
Hi @MachineJeff MachineJeff
I meet the same problem with you ..
Have you solve it?

[2020-02-18 08:54] double344931987 opened #180 "No SpeedUp after TensorRT INT8"
## Description
I transfer my model to tensorrt engine using tftrt in IN8. However, the speed is same as FP32 even FP16.  I also change minimum_segment_size to 2, 3, 5, but it also does not help.
The speed always is the same no matter what the minimum_segment_size is or precision mode is.

I use the code to  check the number of node that's being optimized or replaced with TRT nodes:

`    print("gr

[2020-02-20 15:04] vdevaram commented on #178
I am having different issue for the command : python object_detection.py --input_saved_model_dir $HOME/trt/obj_models/ssd_mobilenet_v2_coco_2018_03_29/saved_model/  --output_saved_model_dir $HOME/trt/obj_out_dir --optimize_offline  --data_dir $HOME/trt/coco_data/val2017 --annotation_path $HOME/trt/coco_data/annotations/instances_val2017.json --batch_size 1 --use_trt   --mode benchmark  --precision

[2020-02-21 05:32] vdevaram commented on #169
use the nvidia tensorflow container nvcr.io/nvidia/tensorflow:20.01-tf2-py3. this is working fine for image classification models although object detection is segmentation fault for NMS.

[2020-02-21 18:37] aaroey commented on #169
@tfeher @bixia1 could you help to take a look?

[2020-02-22 06:22] yuanzhedong opened #181 "Segmentation fault when converting TF model to TF-TRT in TF2.1"
## Env
* TensorRT docker: https://docs.nvidia.com/deeplearning/sdk/tensorrt-container-release-notes/rel_19-10.html#rel_19-10
* TF2.1
* GPU: RTX2080

## Code

[code]

## Error message

[code]

## More log with gdb

[code]

[2020-02-22 06:45] yuanzhedong commented on #181
Tried the same code with `TF2.0 + CUDA10 + TRT5.1.5` without docker and still get the segmentation fault error:

[code]

[2020-02-24 00:26] vdevaram commented on #178
@aaroey : is this known issue? I am facing the segmentation issue even in latest Tensorflow container from NGC **20.01-tf1-py3**

[2020-02-24 05:36] mankeyboy commented on #178
@vdevaram You can solve your issue by providing this argument `--minimum_segment_size 3` when you make your run. I have already opened a bug related to this at tensorflow. The default segment size used by TensorRT for optimisations is 3 and in the code, we are trying to use 2, which even though suboptimal according to recommendations shouldn't fail. Discussion over this is ongoing on the other iss

[2020-02-24 23:37] tfeher commented on #178
- As @mankeyboy said, using `minimum_segment_size=3` or larger should help to get around the conversion problem.
- The segfault which is present in NGC 20.01-tf2-py3 is not there in the latest TF master.

[2020-02-26 05:24] vdevaram commented on #178
Now I moved to nvcr.io/nvidia/tensorflow:20.02-tf2-py3 and tried with TF object detection models. Here the result for Frcnn. Although it is working, I am seeing lot of latency variation with thermal rise upto 85C. is there any other problem?

cmd :  python object_detection.py --input_saved_model_dir /local/obj_models/faster_rcnn_resnet50_coco_2018_01_28/saved_model/  --output_saved_model_dir /loca

[2020-02-27 04:07] lxl910915 opened #183 "TF-TRT is slow than native-TF with 512*512 image"
We test [EAST ](https://github.com/argman/EAST)model using TF-TRT and native-TF on GPU V100.
If image size is 256*256，for one inference TF-TRT takes 3ms and native-TF takes 4ms.
If image size is 512*512，for one inference TF-TRT takes 5ms and native-TF takes 4.5ms.
If image size is 1024*1024，for one inference TF-TRT takes 25ms and native-TF takes 15ms.

TF-TRT is slow for large image. Is it normal?

[2020-02-27 21:10] DEKHTIARJonathan commented on #183
Please try a more recent stack for TRT and TF.
TRT 7 and TF 1.15 or better TF2 would be more easy to debug

[2020-02-28 04:00] lxl910915 commented on #183
It is hard for us to pull the image `nvcr.io/nvidia/tensorflow:20.01-tf1-py3` . Is there another way to get TRT 7 and TF 1.15.

[2020-02-28 07:25] lxl910915 commented on #183
For our EAST model, TF-TRT generates 30 TRTEngineOp. And most of those TRTEngineOp only contains 6 nodes. Maybe this is the root cause.
[code]

[2020-02-28 09:34] DEKHTIARJonathan commented on #183
Could you give me a reproducible use case, python script + shell command.
I'll try to give it a look

[2020-02-28 14:38] bioothod commented on #181
The same issue here, I've put complete code and a bit more steps to reproduce: https://github.com/tensorflow/tensorflow/issues/37131

[2020-02-28 23:21] yuanzhedong commented on #181
@bioothod thanks! Subscribed.

[2020-02-29 07:01] yuqcraft opened #184 "TF-TRT generated model is still fp32 when converting using precision_mode="FP16""
I have a tensorflow (version 1.14) float32 SavedModel that I want to convert to float16. According to https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#usage-example , I could pass "FP16" to precision_mode to convert the model to fp16. But the converted model, after checking the tensorboard, is still fp32: net paramters are DT_FLOAT instead of DT_HALF. And the size of th

[2020-03-01 09:46] lxl910915 commented on #183
Thank you!
We upload our [saved_model.pb](https://github.com/lxl910915/Test/blob/master/SavedModel-1024-1024.tar.gz).

Untar it to /tmp/SavedModel-1024-1024.
For running saved_model, the shell is 'python [east_sm.py](https://github.com/lxl910915/Test/blob/master/east_sm.py)'.
For running tf-trt, the shell is 'python [east_sm.py](https://github.com/lxl910915/Test/blob/master/east_tftrt.py)'.

[2020-03-02 06:35] meteorshowers opened #185 "module 'tensorflow.contrib.tensorrt' has no attribute 'calib_graph_to_infer_graph'"
module 'tensorflow.contrib.tensorrt' has no attribute 'calib_graph_to_infer_graph'
TF1.4.0 version
How to solve it

[2020-03-02 06:56] sanjoy commented on #185
JFYI TF 1.4.0 is [very old (released in 2017)](https://github.com/tensorflow/tensorflow/releases/tag/v1.4.0) so I suspect we can't really help you with issues specific to 1.4.0.

As for your specific question, can you see if [this answer](https://github.com/tensorflow/tensorrt/issues/106#issuecomment-531866857) helps?

[2020-03-02 12:22] meteorshowers commented on #185
@sanjoy  what version do you suggest me to install about 1X version of tensorflow.

[2020-03-02 15:49] tfeher commented on #181
Thanks for the report. The segfault is already corrected [here](https://github.com/tensorflow/tensorflow/commit/9bbb12d481de11e2611fa6fbb4dc13cb7bb09176).

But that just threats the first symptoms. The conversion will still abort with a fatal error. I am looking into the underlying problem with the conversion.

[2020-03-02 16:40] sanjoy commented on #185
1.15 is the latest TF 1.x version.

[2020-03-03 02:57] Csedge opened #186 "How to convert blinear lstm model into tftrt"
i have a model that base on the tensorflow. That is a blinear lstm. When I try to frozen the graph according to the tftrt guide line .the data type was convert in wrong . It automatically from tensor to operator. So it convert failed.

[2020-03-03 10:05] tfeher commented on #186
TF-TRT currently does not convert the LSTM op (see [supported ops](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#supported-ops)).

TensorRT itself supports LSTMs through its [RNN layer](https://docs.nvidia.com/deeplearning/sdk/tensorrt-api/python_api/infer/Graph/Layers.html#irnnv2layer), but TF-TRT does not convert the TF LSTM into TensorRT LSTM. You could try using

[2020-03-04 00:52] bioothod commented on #181
Heavily simplified code to reproduce the bug - it is all about `tf.nn.swish()`

Run it with `--crash_me` option to crash (or return `Node StatefulPartitionedCall/Identity_1 not found in any engine` error with your patch)

[code]

[code]

[2020-03-04 13:02] tfeher commented on #181
Thanks @bioothod for the smaller reproducer. This is actually a subtle problem that can occur if there are control edges between TRT nodes. I have filed PR to a fix that https://github.com/tensorflow/tensorflow/pull/37294

[2020-03-05 14:23] abc3698 opened #187 "Image Classification Example Int8 Quantization-Out of memory error"
I'm trying to quantize TF-TRT INT 8 Model in Colab-TF-TRT-inference-from-Keras-saved-model.ipynb using Jupyter notebook.

I faced gpu out of memory error. but i think i have enough gpu memory.
[code]

But this example is throwing me following error :
[code]

Is there any solution?

[2020-03-05 21:16] sanjoy commented on #187
Can you try using [`set_memory_growth`](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) to prevent TF from allocating all of the GPU memory on startup?  Does that address this issue?

[2020-03-06 05:24] abc3698 commented on #187
@sanjoy Thanks for your reply. I applied set_memory_growth but  I met same error :
[code]

[2020-03-06 05:31] sanjoy commented on #187
@tfeher Can you PTAL?

[2020-03-06 21:40] bioothod commented on #181
Thanks for the patch, but I'm afraid it is not enough, my test above segfaults with it, but I can not tell at the moment whether it is because of the same issue as mentioned [here](https://github.com/tensorflow/tensorrt/issues/181#issuecomment-593469592), but even if crash is the same name node dereference, this constant fix is not enough for `tf.nn.swish` test case

[2020-03-09 09:18] dathudeptrai opened #188 "What is the statefulpartitionedcall_args with dtype DT_RESOURCE after convert to Tensorrt ?"
I'm trying to convert my model to tensorrt. My model have 2 inputs but after convert to tensorrt, my pb model have 2 more inputs with dtype is DT_RESOURCE so i don't know how to infer my model, pls help me check, i include my notebook link here: https://colab.research.google.com/drive/1KG_ttmlA45t5O1p7geTAjfR1htCrwfHU

[2020-03-09 17:16] bioothod commented on #181
No, I was wrong, your patch fixes the crash, thank you @tfeher

[2020-03-09 18:20] sanjoy commented on #188
CC @bixia1 @tfeher

JFYI @dathudeptrai it will be useful if you narrowed your example to something small that still reproduces the problem.

[2020-03-09 22:23] tfeher commented on #188
That sounds like a bug in setting up the input signatures for the converted model. The node names can change during conversion (statefulpartitionedcall prefix added), but the signatures should not. I will have a look.

[2020-03-10 02:14] dathudeptrai commented on #188
@tfeher @sanjoy i just make the minimal code to reproduce the bug. https://colab.research.google.com/drive/1KG_ttmlA45t5O1p7geTAjfR1htCrwfHU.

[2020-03-10 10:29] cainiaoxy commented on #106
I think i have met the same issue in tf1.14. Did you fix the problem？

[2020-03-10 12:48] tfeher commented on #188
Hi, it is a problem while creating the original SavedModel or while freezing that model. Try TF 2.1, that works for me.

Note that TF 2.1 gives you a warning about name mangling:

[code]
Do not use douple leading underscore in your method names (unless you really need that). This introduces name mangling which is not handled by AutoGraph. To fix that, just replace `__get_non_pad_mask` with `_get_n

[2020-03-11 02:50] dathudeptrai commented on #188
@tfeher thanks for ur reply, so u use TF 2.1 with tensorrt 6.0 ?

[2020-03-11 03:58] dathudeptrai opened #189 "No speedup after convert to tensorrt (all operator is conv2d and conv2dtranspose)"
Hi, i convert my model to tensorrt using tf-tfrt but the speed is the same as original tensorflow saved model. Pls, help me check, bellow is my code. Thanks so much.
https://colab.research.google.com/drive/1qD5kZ_EUxeG2AaQHpTSn7RE7OkRh1CHl#scrollTo=sqrFO_tCtbft.
Maybe i wrong something when convert my model to tensorrt, i don't have local GPU so i just can test it on google colab, so if possible,

[2020-03-11 10:17] tfeher commented on #188
I use TF 2.1 that I compiled from source with TensorRT 7.0. In practice, if you do
[code]
in the colab notebook, that package expects TRT 6.0.1, which you can install by:
[code]

[2020-03-12 05:29] dathudeptrai commented on #188
Thanks, now i can covert it to tensorrt.

[2020-03-12 05:29] #188 closed

[2020-03-12 09:00] dathudeptrai commented on #189
@tfeher can u take a look ?

[2020-03-13 07:22] chennuo0125 opened #190 "TF-TRT 1.x Workflow With A Frozen Graph"
i follow the guide [https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html](url) to use tf_trt with a frozen graph, but i dont know how to implement a project as follows :
[code]
i have some problems :
1, where can i pass input for sess.run(output_node) ?
2, nodes_blacklist's mean ? how to set ? why has error when i set nodes_blacklist=[' '] or no set ?
3, is there a complete

[2020-03-13 10:40] chennuo0125 commented on #190
==old code : ==
[code]
==new code with tf_trt : ==
[code]
error is follow :
[code]
please give me some advise how to use tf_trt properly, thank you

[2020-03-13 12:30] jxhekang opened #191 "Tf2.1.0, tensorrt7, batchSize > 0 && batchSize <= mEngine.getMaxBatchSize(). Note: Batch size was: 0, but engine max batch size was: 1"
I try to generate tf-trt model by using tf2.1.0's TrtGraphConverterV2(xxxx) interface. In tf2.1.0's TrtGraphConverterV2, **the is_dynamic_op can only be Ture**, which means the tf-trt model can handle input of different size dynamicly.
At first, I got one tf-trt model(model_A) successfully, and it seems work well and fast.
However, when I changed a few parameters in my net and re-generate the tf-t

[2020-03-14 08:46] chennuo0125 commented on #165
@stengoes hellow, after you have saved optimized model, when you load the optimized model again, whether cost too much time ? i test yolov3 on xavier,  which cost 12 minutes !!! do you have same problem ? hope for your answer, thank you

[2020-03-14 09:17] chennuo0125 opened #192 "load model cost time, consuming memory too much"
test platform : jetson agx xavier
memory capacity : 32G
os : jetpack4.3
tensorflow : 1.15

i optimize the [https://github.com/YunYang1994/tensorflow-yolov3](url) project with tf_trt, which cost about 15 minutes to load and convert model to optimized model, besides the memory consumed about 26G, it's terriable !!!
then i saved optimized model, and then load the optimized model directly without conv

[2020-03-14 10:24] chennuo0125 commented on #165
@stengoes besides，26G memory was consumed !!! do you have this phenomenon ?

[2020-03-14 11:46] chennuo0125 commented on #192
the configure param is :
[code]

[2020-03-15 22:54] danfischetti opened #193 "TensorRT is Unable to convert the FusedBatchNormV2 op"
## Description
TensorRT is unable to convert the FusedBatchNormV2 op. When I turn on verbose logging I see messages like this:

[code]

I explicitly converted my graph to use the channels first data format after seeing channels_last was not supported for batch norm with TensorRT. I also confirmed that the frozen graph saves the node definitions in NCHW form. Inspecting the node referenced in the l

[2020-03-16 05:05] jxhekang commented on #191
After some tests, I got the answer why tf-trt-model unstable is that:
It's because the input image used by me is one synthetic image(im_list = [128 * np.ones([576, 1024, 3]).astype(np.float32)]).  In this image, all pixel's data is constant 128. The  tf-trt-model can't get valid information to pass to some kind of trt-op,  and generate some error tensor(batchsize=0) by mistake.

I think this is a

[2020-03-16 05:18] jxhekang commented on #191
@pooyadavoodi  I notice your reply about  'Batch size was：0' error in the link below:
https://github.com/tensorflow/tensorflow/issues/33184#issuecomment-567605513
But I still can't get enough information from the tf-trt's log to handle my  'Batch size was：0' error.
In the tf-trt's log, I know the error happend in TRTEngineOp_0. However, in tf2.1.0, there is no black-node-list option.
The only way

[2020-03-16 14:02] olesalscheider opened #194 "Native TensorFlow is >6 times faster than TensorRT"
## Description

My neural network runs much faster with native TensorFlow compared to a TensorRT optimized model:

Images per second with native TF: 4.785973
Images per second with TRT: 0.712366

I get these numbers on a TITAN X, but I can observe the same effect on a Titan V.

## Environment

**TensorRT Version**: 7.0.0
**GPU Type**: TITAN X (Pascal)
**Nvidia Driver Version**: 440.33.01
**CUDA Ve

[2020-03-17 02:20] sanjoy commented on #191
@bixia1

[2020-03-17 02:22] sanjoy commented on #193
Thanks for the detailed triage @danfischetti !  @bixia1 can you PTAL?

[2020-03-17 08:06] #189 closed

[2020-03-18 01:43] nrothGIT opened #195 "TensorRT rebuilds ops at run time"
At run time, I call
`converter.convert()
converter.build(input_fn = some_input_fn)
converter.save()`
`

And see logging to the effect of

[code]

However, at run time, after loading the above saved model, and after the model is run a couple times, I then see that the model tries to build a new engine.

`
2020-03-18 01:31:58.716377: I tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc:736] Bu

[2020-03-18 17:21] tfeher commented on #184
I have answered the question on [StackOverflow](https://stackoverflow.com/questions/60427672/problem-converting-tensorflow-saved-model-from-float32-to-float16-using-tensorrt). We can continue discussion there, if there are any more questions.

[2020-03-18 17:21] #184 closed

[2020-03-19 07:38] yuqcraft commented on #184
@tfeher Thanks Tamas for answering my question. That did answer my question.

I also nvprof-ed the converted model, it seems in my volta gpu, h1688 and h844 kernels are called multiple times, which proves that fp16 as well as tensor core is used correctly.

[2020-03-20 13:57] luvwinnie opened #196 "tensorrt optimized model output shape become unknow?"
I use a trained tensorflow saved model and use the optimization with the following code.

[code]

However, my optimized tensorrt saved model output has become unknown?

# before optimized
[code]

# after optimized
[code]

This made my TensorRT inference server not able to loaded.
I use the following config.pbtxt for my model.
## config.pbtxt
[code]

## Errors
[code]

## TensorRT Optimization Logs

[2020-03-22 09:45] stengoes commented on #165
The script was not meant to be optimal in terms of performance.

For each example it first loads the TF native model, then evaluates the example, and then unloads the model. Then it does the same for the TensorRT optimized model. Finally it compares the output values of both models and the process repeats for the next example.

This procedure is by no means optimal, but for me it was just a quick

[2020-03-25 18:04] mehulsuresh opened #197 "Error running example on jetson tx2"
hey trying to run the tensorrt example and io keep getting this error
Any help is appreciated thanks

Converting ssd_inception_v2_coco to trt…
2020-03-25 12:56:57.029303: F tensorflow/core/util/device_name_utils.cc:92] Check failed: IsJobName(job)
Aborted (core dumped)

[2020-03-26 12:59] cbodenst commented on #195
I am having the same issue. I need a  low latency inference for a stateful recurrent network and the engine rebuilding adds a lot of latency to it.
Also after rebuilding my throughput drops after rebuilding. My application is running with ~40FPS and after the engine rebuilding it drops to ~30FPS.

[2020-03-26 15:52] mehulsuresh commented on #197
Solved! solution was to add this line force_nms_cpu=False in build_detection_graph
frozen_graph, input_names, output_names = build_detection_graph(
            config=config_path,
            checkpoint=checkpoint_path,
            force_nms_cpu=False
        )

[2020-03-26 15:52] #197 closed

[2020-03-27 20:04] tfeher commented on #181
Closing this, as the fix is merged in TF. If you use NGC containers, the 20.05 version will contain the fix.

[2020-03-27 20:04] #181 closed

[2020-04-03 07:20] cbodenst commented on #195
@nrothGIT did you find any workaround using the information you posted?

[2020-04-06 04:46] sanjoy commented on #195
CC @bixia1

[2020-04-06 18:18] nrothGIT commented on #195
@cbodenst, Sadly I haven't had the time to dig a ton further on this, so have no good fix at the moment. I'll post back if I make any progress.

[2020-04-06 18:54] tfeher commented on #195
Thanks for the report. It should not try to rebuild the engines again, but it is difficult to say anything more at this stage.  It might help if you can post the full logs with level 2:
[code]
It would be better if you can share a reproducer, so that we can have a closer look.

[2020-04-07 08:40] andriiyurkiv opened #198 "Running multiple TensorRT-optimized models in Tensorflow"
I am working with the Tensorflow 2.0 project that uses multiple models for inference.
Some of those models were optimized using TF-TRT.

I tried both regular offline conversion and offline conversion with engine serialization. In case of regular conversion TensorRT engine is rebuilt every time model execution context changes. While using models with serialized engines, I’m not able to load more th

[2020-04-07 13:08] SpriteLin-ZJU commented on #99
@chong-lee ,请问C++要使用tf-trt优化后的model，还是需要在python中先用tf-trt优化后的pb模型，然后线上推理用C++API像调用普通模型一样调用这个模型就好是嘛？我看https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html官网例子里说可以生成plan文件直接给tensorRT API调用，但是他这个生成的plan有很多个，不知道你了解怎么使用么

[2020-04-08 01:50] chong-lee commented on #99
需要先用python的tf-trt转pb模型，转之后的模型，配合编译包含tensorrt的动态库，就像调用普通模型一样就好了。一般来说，FP16加速效果较好，且精度损失很小。

[2020-04-08 01:50] chong-lee commented on #99
需要先用python的tf-trt转pb模型，转之后的模型，配合编译包含tensorrt的动态库，就像调用普通模型一样就好了。一般来说，FP16加速效果较好，且精度损失很小。

[2020-04-08 12:00] cbodenst commented on #195
@tfeher I will take a look into a reproducer, but I am not sure how build it since tensorrt optimizations are strongly hardware dependent.

I attached the a log file. You can see there is a rebuilding at the beginning of the script. After another 2 Minutes it is building the engine again. You can just grep for "Building TensorRT engine"

I also figured out why the model is slower after rebuilding.

[2020-04-08 12:29] andriiyurkiv commented on #195
Hello,
I'm facing the similar issue while trying to run multiple TensorRT-optimized models in TF2.

[code]
Model1 TensorRT optimizes to 2 ops:
`PartitionedCall/TRTEngineOp_1 input shapes: [[8,640,640,3]]`
`PartitionedCall/TRTEngineOp_0 input shapes: [[8,1536,18,18]]`

Model2 TensorRT optimizes to 1 op:
`PartitionedCall/TRTEngineOp_0 input shapes: [[8,224,224,3]]`

At runtime engine for `Partitione

[2020-04-08 15:51] bixia1 commented on #195
We merged a change for this on April 3. Can you update your tree to check that again?

[2020-04-08 16:24] tfeher commented on #198
Thanks for the detailed report. It is a valid use case to have multiple models with multiple pre-built engines. We seem to have a problem with the way the engines cached, we are working on this problem. This is related to Issue #195, we will continue the discussion there.

[2020-04-09 09:26] andriiyurkiv commented on #195
Can you share a link to the corresponding PR?

[2020-04-09 15:24] bixia1 commented on #195
https://github.com/tensorflow/tensorflow/blob/c3e12bcd6d01f3bc92cbb99f3c91fc0bec3a8562/tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc#L674-L675

https://github.com/tensorflow/tensorflow/commit/21de77485f9230eff364a4f0c8e0a55857965223

[2020-04-13 09:48] andriiyurkiv commented on #195
@bixia1 @tfeher
I've tried the to run the code snipped I shared with you using the latest version of the TF master branch.
As you can see from the logs, now it does not output any TensorRT engine building - related information. But at the same time, the timeout remains the same as if the engines were rebuilt at each iteration.

[log_latest_master.txt](https://github.com/tensorflow/tensorrt/files/4

[2020-04-23 13:07] grienayj opened #199 "Segmentation fault on graph optimization"
Hello all,

I have some troubles optimizing an object detector (SSD) with custom bounding box decoder. It works well when running it with TF2 but I get a SEGFAULT when trying to pass it through TF-TRT. Because the code and the saved_model are proprietary, they can't be given there. However, the code is similar with this exemple : https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/in

[2020-04-23 13:49] tfeher commented on #199
Hi, it looks like the same issue as #181. That one is fixed in TF master, please give it a try.

[2020-04-23 13:59] grienayj commented on #199
Ok,
We will wait for the 20.05 version release to make a try!
Thanks a lot

[2020-04-23 19:18] sonal-511 commented on #83
I am still facing the same issue.I have stated my code below

with tf.Session() as sess:
    # First deserialize your frozen graph:
    with tf.gfile.GFile("/content/drive/My Drive/kaam/faster_rcnn_resnet101_kitti_2018_01_28/frozen_inference_graph.pb", 'rb') as f:
        frozen_graph = tf.GraphDef()
        frozen_graph.ParseFromString(f.read())
    # Now you can create a TensorRT inference graph

[2020-04-23 19:20] sonal-511 commented on #83
**the issue still remains**

with tf.Session() as sess:
    # First deserialize your frozen graph:
    with tf.gfile.GFile("/content/drive/My Drive/kaam/faster_rcnn_resnet101_kitti_2018_01_28/frozen_inference_graph.pb", 'rb') as f:
        frozen_graph = tf.GraphDef()
        frozen_graph.ParseFromString(f.read())
    # Now you can create a TensorRT inference graph from your
    # frozen graph:

[2020-04-24 17:06] jeisinge commented on #103
FYI - we are still seeing this issue with converting a SavedModel.  Our Saved Model has assets and variables and converts into a single `saved_model.pb` that is 1.1 GB.

[code]

This converts into:
[code]

[2020-04-29 17:20] cbodenst opened #200 "Tf 2.2.0rc3 fails to build TRT-Engine"
Hi,

I have a quite large model (140MB weights) that, that was successfully converted to TRT with TF 2.1.0

But with 2.2.0 rc1,rc2,rc3 it always fails with following message
`
 Engine creation for TRTEngineOp_2 failed. The native segment will be used instead. Reason: Unimplemented: Transpose too large:10437228`

I need a fix from the latest version (convert stateful lstm from keras to saved model)

[2020-04-29 18:22] cbodenst commented on #195
I tested again with tensorflow 2.2.0rc3 and it is still rebuilding. The program runs fine for 10 Minutes but then it suddenly rebuilds the engine.

[2020-04-30 17:48] cbodenst commented on #195
I also tried to build the current master (f98da6aa76ab991fb06f2de24ee7a8b87348d66e). It is still rebuilding the engines.

[2020-05-05 16:32] tfeher commented on #200
Hi, there was recently a change that disabled TRT conversion of transpose ops on tensors that have more than 2.5 million elements. Normally this would cause the network to be converted into multiple TensorRT ops, but it should not fail. We will have a look this problem.

Until this is fixed, you can try to export the following environment variable, and see if this solves your problem: `TF_DEBUG_TR

[2020-05-05 18:23] cbodenst commented on #200
@tfeher Thank you, setting the environment variable works indeed

[2020-05-18 14:01] Spidy20 commented on #84
Guys if you are doing openpose then just comment this line
`import tensorflow.contrib.tensorrt as trt`
in `tf_pose/estimator.py`

[2020-05-28 03:08] sanjoy commented on #103
CC @bixia1

[2020-05-29 09:49] cbodenst commented on #195
Are there any activities about that issue?

[2020-05-29 17:09] bixia1 commented on #195
I will look into this, it is the next thing on my todo list.

[2020-06-01 00:42] ynjiun commented on #107
using TF1.15 the above reported problem still exists. But @mpjlu suggestion seems fixed the problem:

[2020-06-01 17:59] bixia1 commented on #195
[andriiyurkiv](https://github.com/andriiyurkiv ) Can you post a simplified version of your test case?

[2020-06-03 03:16] haoshengup commented on #99
你好，请问你是在Windows还是Linux平台上使用的c++接口，我看到一些资料好像说Windows不支持tf-trt。

[2020-06-03 04:54] chong-lee commented on #99
我是在Linux平台上，Windows没试过

[2020-06-03 08:24] nicolasMeg commented on #181
@tfeher thanks for your response. Do you know when the NGC containers 20.05 will be available ?

[2020-06-03 15:35] bixia1 commented on #195
Can one of you post a reproducer for this?

[2020-06-03 15:59] cbodenst commented on #195
@bixia1 I will work on that

[2020-06-04 03:49] bharadwaj-vedula commented on #200
@tfeher hey how did you convert your model using tf 2.1.0 could you help me ?

[2020-06-04 03:50] bharadwaj-vedula commented on #200
@cbodenst hey! how did you convert your model using TF 2.1.0 could u help me ?

[2020-06-04 15:32] cbodenst commented on #200
@bharadwaj-vedula offtopic! but take a look to this guide: https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html

[2020-06-04 16:18] cbodenst commented on #195
Please try this code. Im not sure if this is hardware dependent but it builds the engine twice. Once at converter.build and once when the itteration starts. But I did not get it to rebuild again after multiple predictions, as it is the case in my production code.
[code]

Here a part of the output:
[code]

[2020-06-05 04:39] zmqp111 opened #201 "module 'tensorflow_core._api.v2.experimental.tensorrt' has no attribute 'ConversionParams'"
i have error tf2.1 model to tensorRT

![image](https://user-images.githubusercontent.com/13760439/83837665-f393b080-a731-11ea-8da7-8ec35c2632af.png)

[2020-06-07 11:52] Mohandfares commented on #41
Caused by: java.io.IOException: Not a valid TensorFlow Graph serialization: NodeDef mentions attr 'half_pixel_centers' not in Op<name=ResizeBilinear; signature=images:T, size:int32 -> resized_images:float; attr=T:type,allowed=[DT_INT8, DT_UINT8, DT_INT16, DT_UINT16, DT_INT32, DT_INT64, DT_BFLOAT16, DT_HALF, DT_FLOAT, DT_DOUBLE]; attr=align_corners:bool,default=false>; NodeDef: {{node Preprocessor/

[2020-06-09 06:40] figkim commented on #157
I had the same symptoms. In my case, it was caused by not adding <your tensorRT path>\lib to `LD_LIBRARY_PATH` before running jupyter lab. Adding Path and running Jupyter lab again solved it.

[2020-06-16 00:12] bixia1 commented on #195
I don't see the problem using the test case provided in [comment #11](https://github.com/tensorflow/tensorrt/issues/195#issuecomment-638959677).

[2020-06-16 09:02] cbodenst commented on #195
@bixia1 The problem is that the TRT Engine got build twice because of the different name prefix. The TRT-Engine-Rebuild could also happen again after a lot of predictions, but this is not simple to reproduce. In general, this prevents high throughput use cases.

Also, please take a look into the log files I posted some time ago,

[2020-06-16 18:56] bixia1 commented on #195
@cbodenst  Can you point out which one is a rebuild? I use command "grep -e "Building a" -e "Finished" log" to process your log and don't see which one is a rebuilt. See the file I attach here, they seems to have different shapes.
[processed.txt](https://github.com/tensorflow/tensorrt/files/4788574/processed.txt)

[2020-06-16 22:10] cbodenst commented on #195
in your processed.txt you can see the rebuilt at line 4, timestamp "2020-04-08 11:40:48.633176". 12 minutes after the processing loop has started

[2020-06-16 22:35] bixia1 commented on #195
I see that the engine is not created successfully:
2020-04-08 11:28:58.582814: W tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc:1002] Engine creation for StatefulPartitionedCall/TRTEngineOp_2 failed. The native segment will be used instead. Reason: Unimplemented: Transpose too large:10437228

[2020-06-17 03:56] ktiwary2 commented on #199
Hi, did you get any luck? This is literally the same issue that I'm having. If it worked can you provide the environment details?
Thanks and much appreciated

[2020-06-17 15:33] BernardinD commented on #126
Any update on this?

[2020-06-17 18:39] bixia1 commented on #195
@cbodenst can you try setting this env variable to see if that help? TF_DEBUG_TRT_ALLOW_INEFFICIENT_TRANSPOSE=1

[2020-06-19 09:33] cbodenst commented on #195
I already tried that. This helps to build the TRT-engine properly but still results in rebuilding after some time.

[2020-06-19 17:40] bixia1 commented on #195
You meant, even though the engine is built successfully, it will be rebuilt after a while? Can you provide a log to show that?

[2020-06-22 16:06] cbodenst commented on #195
I made another run with TF_DEBUG_TRT_ALLOW_INEFFICIENT_TRANSPOSE=1. You can see that the engine gets rebuild at timestamp: 2020-06-22 15:24:16.430878. Also the rebuild fails sometimes as you can see in the logs.
[log.zip](https://github.com/tensorflow/tensorrt/files/4814312/log.zip)

[2020-06-23 19:30] anoushsepehri commented on #198
@tfeher
I am also having a problem running two tensorRT optimized models. The inference is completed for the first network, but then in the second network, the errors I included below occur. Is this a similar issue or something completely different? I am using tf 2.1.0 and both models run properly when they are separated, however when I load both models in the same program and run inference sequen

[2020-06-23 21:00] hi-im-ryanli opened #202 "Converting BERT to TensorRT FP16 model added a lot of inputs named "unknown""
Versions:

- Tensorflow 2.2 (TensorRT 6, CUDA 10)

After pulling a transformer model, specifically `albert-base-v2` from Huggingface:

[code]

I wanted to run TensorRT inference on the model, so, I tried to convert it using Tensorflow's API

[code]

However, the conversion is unsuccessful, with the following output:
[code]

So, somehow, the converted model suddenly is taking a ton of **extra** arg

[2020-06-23 21:01] hi-im-ryanli commented on #202
A similar issue: https://github.com/tensorflow/serving/issues/1675

[2020-06-28 02:48] gowthamkpr commented on #202
@sanjoy @bixia1 Can you PTAL? Thanks!

[2020-07-06 09:02] azayz commented on #157
Hey, my kernel dies not during conversion and optimization of the model but during inference, it converts the model smoothly both with fp16 and fp32 but during inference ( predicting one image) the kernel dies and automatically restarts. Any help ?

[2020-07-06 09:12] sayakpaul commented on #157
I actually put together a tutorial a few days back that shows how to use TensorRT in an end-to-end manner for accelerating inference: https://sayak.dev/tf.keras/tensorrt/tensorflow/2020/07/01/accelerated-inference-trt.html/. Hope this will be helpful.

[2020-07-07 08:25] mohhao opened #204 "When using TF-Serving,get Tensor DataType is determined at build time for tensors not marked as input or output"
I had test in local environment,
what I miss when using TF-Serving

Hope for your reply

--------------------------------------------------------------------------------------
I noticed that variables directory of trt savedModel is empty, maybe it's the reason why serving can't using it
So how to use trt savedModel in TF-Serving,Hope for your reply

[2020-07-07 16:49] BernardinD commented on #126
My issue was fixed by fixing the output node names. I mistakenly used the output tensor names of another graph. I'd double check and see if you still have issues when setting `outputs` to something besides `None`.

[2020-07-07 22:37] Ekta246 commented on #200
@cbodenst On which GPU platform are you trying with TF versions 2.2.0rc1,rc2 and so on.
Also, I didn't get success with TF 2.1.0 on Jetson AGX Xavier platform while using TF-TRT implementation.

[2020-07-08 07:41] #204 closed

[2020-07-08 09:43] cbodenst commented on #200
Hi Ekta. was using Google Cloud Platform withn Tesla P100

[2020-07-08 09:51] cbodenst commented on #195
@bixia1 are you still on it? I actually really liked to use tf-trt, but if this is not working I need to invest time into alternatives.
Didn't @nrothGIT described at his very first post what the issue is? Or is this unrelated?

[2020-07-08 15:22] bixia1 commented on #195
@cbodenst Yes, I will look at this again soon.

[2020-07-08 16:27] Ekta246 commented on #200
Thanks for getting back real quick.
Any luck with TensorRT on Jetson platforms?

Thanks

On Wed, Jul 8, 2020, 5:43 AM cbodenst <notifications@github.com> wrote:

[2020-07-09 17:16] hi-im-ryanli commented on #202
Any updates please?

[2020-07-09 23:23] Ekta246 commented on #89
are you sure there is no binary support for the TF-trt integration.
I guess the Tf-trt Github gives about Binary installation too. How about using tensorflow.python.compiler library for binary installation method if you want to avoid the bulky bezel build configuration while building the TensorFlow from the source

[2020-07-19 20:46] sgriset commented on #110
Did not work for me still get import error

[2020-07-22 20:12] bharatv007 opened #205 "TensorRT saved model too large to use with TFServing"
Versions:
Tensorflow- 2.3.0-rc1
CUDA-10
TensorRT-6
I am trying to convert a GPT2 model, the saved model size is about 1.9GB. It causes an issue when I try to use TF serving for deployment as it hits a protobuf limit of 1 GB. I have tried to not build TRT engines before deployement too, but it does not seemed to affect the size of the saved_model.pb.

[2020-07-24 01:59] sanjoy commented on #205
CC @bixia1

[2020-07-29 09:22] austingg commented on #149
@srinivas-varadharajan ResNet50 and DenseNet are fixed input dimension. So try is_dynamic_op=False. and tweak the max_workspace_size.

[2020-07-29 09:24] austingg commented on #147
@dbrazey the `num_nodes(trt_only)` = 0 says that your environment is something wrong. You may try tensorflow 1.15 with tensorrt included, or try nvidia tensorflow docker container.

[2020-07-29 16:10] shubhoum commented on #142
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-5b82adb52660> in <module>
----> 1 from tensorflow.compiler.tf2tensorrt.wrap_py_utils import get_linked_tensorrt_version
      2 from tensorflow.compiler.tf2tensorrt.wrap_py_utils import get_loaded_tensorrt_version
      3
      4 p

[2020-07-29 17:16] Sathibhu commented on #142
`tensorflow` version?

[2020-07-30 14:09] cbodenst commented on #195
Now with TF 2.3.0, it does not show any rebuilt messeage but the process stucks sometimes with following error message:
[code]
When I created the engines initially, I got following error message:
[code]

Do you think this is related or a new error in TF 2.3.0?

[2020-07-30 15:02] 1vn commented on #205
Any updates on this? @sanjoy @bixia1

[2020-07-30 15:33] heizie commented on #166
Hi, I've also a same problems.
I've saw a lot of tutorial. mainly it needs to install tensorrt outside, and then convert to the plan file WITH UFF...which is already not used!
I don't why this things is such a chaos.

[2020-07-31 20:07] gan3sh500 opened #206 "TRT model fails to load on Jetson"
I was getting the below error when I load model on Jetson with Jetpack4.4 which was converted to TRT using tf2.2 from pip.
Even now with tf master build from source and converted model using CUDA 10.2 CUDNN 8.0.0 TRT 7.1.3 same error.
Jetpack 4.4 has same version except TRT 7.1.0. I used 7.1.3 as it was what I could find on apt. I built using image from modifying these versions into the tf devel-g

[2020-08-03 18:25] ncthong commented on #84
@Spidy20 i'm doing openpose and this issue has not been resolved. Can you help me?

[2020-08-04 03:13] Spidy20 commented on #84
Remove that import line, it doesn't do anything in code.

On Mon, Aug 3, 2020 at 11:55 PM Nguyễn Cảnh Thông <notifications@github.com>
wrote:

[2020-08-04 06:21] Snixells opened #207 "Converting TF 2 Object Detection Model to TensorRT"
Hey there! I am trying to convert the EfficientDet D1 640x640 of the new Tensorflow 2 Object Detection API to a TensorRT Model to run on my Jetson AGX Board. (https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md)

I am running the following Code:

[code]
When running that Code I am getting the following Error:
[code]

The error message says that it

[2020-08-05 02:53] CaesarWWK commented on #195
Have the issue on using the nvidia official docker image of tensorflow2.2 with cuda11.0

When I build the converter using training data, the log says building engine for trtengineop_0 with input shape like [[1,21,2],[1,21,2]]
But when I was using it for inference time, the log says building new engine for partitionedcall/trtengineop_0 with the same input shape builded before like  [[1,21,2],[1,21,

[2020-08-09 07:39] nyanmn opened #208 "tftrt error at sess.run for input"
The following is sample from[ tftrt link](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html) for tftrt code for frozen graph.

[code]

For my application, I have error at input image.
[code]
If input is fed above, I have error as `TypeError: Cannot interpret feed_dict key as Tensor: Can not convert a builtin_function_or_method into a Tensor.`

If input is fed as below
`o

[2020-08-11 14:38] gan3sh500 commented on #206
Issue with portability was due to GPU Architecture. To make it work just need to use same as Jetson. For example Jetson Nano and 1080Ti together.

[2020-08-11 14:38] #206 closed

[2020-08-12 07:42] hadoop2xu opened #209 "how to achieve a custom layer with tf-trt ? where to get the guide document ?"

[2020-08-12 16:23] rvorias commented on #166
Hi @heizie,

I just replied to a fellow developer on the NVidia forums.

[2020-08-13 13:54] heizie commented on #166
Thanks @rvorias
I'm also doing something like this now. But my model is trained in NHWC format. I've tried using `--inputs-as-nchw`. The TRT engine can run. And i've organized the input image as a `std::vector:  BBBBBGGGGGGRRRRR`. But the thing is. the output is something not understandable.

And i've also tried NHWC format, static or dynamic mode, but the engine won't run, it'll show you a error

[2020-09-02 02:44] zhxjlbs opened #210 "INT8 quantization core dumped"
Hi, I use the code to convert my yolov3 to FP16. the converted model is faster. but when convert my yolov3 model to INT8-trt, it throw an core dumped error. How to solve this problem? I have no idea. could you give me some help?

system information:
tensorRT:  https://developer.download.nvidia.com/compute/machine-learning/repos/rhel7/x86_64/nvidia-machine-learning-repo-rhel7-1.0.0-1.x86_64.rpm
ten

[2020-09-07 03:48] techrc opened #211 "node is gone after using tf-trt in tensorflow1.15 in jetson xavier nx"
I want to run facenet in jetson xavier nx. So there is a placeholder node which name is 'input',
i used tf-trt (nvidia-tensorflow1.15) to convert frozen_graph to uff,
the 'input' is gone, i got an error that 'there is no node named input in graph'.
so please tell me what mistake did i make? and what should i do? if you know that.

[2020-09-07 08:28] dloghin opened #212 "out-of-memory when running object_detection.py even on RTX 2080 Ti (11GB memory)"
Hi,

I am trying to run `object_detection.py` from `tftrt/examples/object_detection` but I get out-of-memory even on a powerful Nvidia RTX 2080 Ti (with 11GB memory). I tried with 3 different models (see below) and also tried to use `--gpu_mem_cap`, but I get the same error. The error happens after the conversion, in `run_inference()`.

Here is my run script:
[code]

And this is the error (last pa

[2020-09-07 14:36] dloghin commented on #194
I observed something similar on (1) Nvidia Jetson Nano and (2) Nvidia RTX 2080 Ti with `ssd_mobilenet_v2_coco_2018_03_29` model. Native Tensorflow is about 3x and 10x faster than TensorRT model on Nvidia Jetson Nano and Nvidia RTX 2080 Ti, respectively.

# Steps to Reproduce

1. **Download `ssd_mobilenet_v2_coco_2018_03_29` model**
[code]

2. **Use TensorRT to optimize the model**
[code]

3. **Clo

[2020-09-08 13:50] yurkovak opened #213 "The correct way to run a converted model in C++"
Hi! I found [this comment](https://forums.developer.nvidia.com/t/run-tf-trt-graph-through-tf-c-api/73326/7) promising an example of using TF-TRT in C++, but unfortunately it doesn't seem to exist just yet. It's much needed and I'm looking forward to it, thanks in advance!

In the meantime, I was able to proceed, but stumbled with the crash described below. Would be happy if someone could point out

[2020-09-10 15:31] yurkovak commented on #213
I was able to get rid of this error using [this](https://stackoverflow.com/a/51228147/9309062) answer, but now I get:
[code]
I believe it's due to 1.15.0 vs 1.12.0-rc2 tensorflow version mismatch. Trying to build a wheel, cause looks like 1.12 isn't available in pip anymore. Will update later.

[2020-09-15 06:45] #213 closed

[2020-09-17 01:00] zhxjlbs commented on #212
Hi, have you solve the problem? I met the same problem.

[2020-09-23 07:26] dongle94 commented on #207
[manual](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#usage-example) said
```Note: Converting frozen graphs is no longer supported in TensorFlow 2.0.```
TF-TRT in TF2 not support fixed shape.so this model's input shape must be (1, -1, -1, 3)

[2020-09-27 04:16] MuhammadAsadJaved opened #214 "Tensorflow-yolov3 from .ckpt or .pb to tf-trt model."
Hi There,
                 I have trained my yolov3 model in Tensorflow, now I want to optimize it using TF-TRT but after so many tries still failed. There is too much confusing information.
I have both save model (checkpoints)  and converted   .pb weights.

1- I have installed tf 2.2.0 and I am traying on GTX 2080 Ti.   Do i still need to install tf-trt?
2- How I can optimize these weights with t

[2020-09-27 09:40] YASHBRO commented on #142
tensorflow version = 2.3.1
CUDA version = 10.1 update 2
cuDNN version = 7.6.5 (Nov 18th 2019)
tensorRT version = 6.0.5

I have the same error, I installed in my Windows 10 system with Nvidia GTX1650 (supports CUDA)
I followed the instruction provided on [TensorRT 6 install guide](https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-601/tensorrt-install-guide/index.html#installing-zip).

[2020-09-28 07:28] albert-grigoryan opened #215 "nvinfer1: Engine fails to deserialize from stream on other GPU"
System information
- 1st host (working configuration)
Docker: v19.03.8
NVIDIA driver: v440.64
TensorRT: v6.01 (from `nvcr.io/nvidia/tensorrt:19.12-py3`)
**GPU: GeForce GTX 1060 Mobile**
- 2nd host (fail configuration)
Docker: v19.03.8
NVIDIA driver: v450.51.06 (similar behavior with same driver version was observed)
TensorRT: v6.01 (from `nvcr.io/nvidia/tensorrt:19.12-py3`)
**GPU: Tesla K80**

The

[2020-09-28 07:44] #215 closed

[2020-10-06 11:38] senaras commented on #207
Hey! Is there any update this problem? I have the same issue.

[2020-10-08 08:36] dongle94 commented on #207
I use
`inp1 = np.expand_dims(np.random.normal(size=(1,320, 320, 3)).astype(np.uint8), axis=0)`
it will be working....but........

I checked tf 2 model vs tf-trt model(based tf2 model) inference time by for loop. But inference time didn't improve..
what's wrong....?

Does tf-trt(based tf2) model have different way to inference?

[2020-10-08 21:54] quelibrio commented on #84
Also worth mentioning https://forums.developer.nvidia.com/t/error-converting-tensorflow-model-to-tensorrt-on-windows-10/83892 its not supported on windows 10

[2020-10-08 21:55] quelibrio commented on #153
Also worth mentioning https://forums.developer.nvidia.com/t/error-converting-tensorflow-model-to-tensorrt-on-windows-10/83892 its not supported on windows 10

[2020-10-11 00:28] wmdrichards opened #216 "allow_build_at_runtime=False broken for TrtGraphConverterV2"
setting `allow_build_at_runtime=False` in `TrtConversionParams` gives the following error:
[code]

Per https://github.com/tensorflow/tensorflow/pull/34919#discussion_r355771426, the change `node.attr["allow_build_at_runtime"].b = False` to `node.attr["_allow_build_at_runtime"].b = False` in trt_convert.py fixes the issue

[2020-10-12 07:18] wpf19911118 opened #217 "int8 precision tf model converting to tftrt"
image_tensor = graph.get_tensor_by_name('wpf:0')
			calib_graph = trt.create_inference_graph(
				input_graph_def=graph_def,
				outputs=output_names,
				max_batch_size=1,
				minimum_segment_size=4,
				is_dynamic_op=True,
				maximum_cached_engines=3,
				max_workspace_size_bytes=trt.DEFAULT_TRT_MAX_WORKSPACE_SIZE_BYTES,
				precision_mode='INT8'
			)

			a,b,c,d = tf.import_graph_def(calib_gra

[2020-10-15 06:19] Drkstr opened #218 "Unsuccessful TensorSliceReader constructor: Failed to get matching files on input/variables/variables: Not found: input/variables; No such file or directory"
Am having some trouble optimising a Tensorflow graph using TensorRT (TF-TRT). I am using the code snippet from [here](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html)

Here is the code snippet:
    from tensorflow.python.compiler.tensorrt import trt_convert as trt
    converter = trt.TrtGraphConverterV2(input_saved_model_dir=input_saved_model_dir)
    converter.convert

[2020-10-15 17:23] daliel opened #219 "I can't create a work plan with int8 precision"
used docker conteiner: **nvcr.io/nvidia/tensorflow:19.10-py3**
used script: **modfificated object_detection.py**
for test created engine used trtexec in docker conteiner:
[code]
**This model with FT32 precision loaded in TRT with out problem**

How I can save my model to trt engine with int8 precision?

[2020-10-16 06:08] #218 closed

[2020-10-24 06:10] xlvy opened #220 "Very low validation accuracy using imagenet_classification.py"
Run environment:

- docker version: nvcr.io/nvidia/tensorflow:20.01-tf2-py3 with tensorflow version 2.0 and TensorRT 7.0

- Validation TFRecord files:  [https://github.com/tensorflow/models/blob/master/research/slim/datasets/build_imagenet_data.py](url)

- Model: TF2.0 Resnet_50 hub model [https://tfhub.dev/tensorflow/resnet_50/classification/1](url)

- preprocess_method: vgg

Why is the accuracy

[2020-10-29 13:18] AhmadShaik opened #221 "tf-trt optimized model output shapes are empty/unknown."
**model loading**
`def load_tf_saved_model(input_saved_model_dir):
    if not tf.compat.v1.saved_model.contains_saved_model(input_saved_model_dir):
        print("Please give valid saved model folder %s"%input_saved_model_dir)

    print('TF Loading saved model {}...'.format(input_saved_model_dir))
    if tf.__version__ == '1.15.0':
        saved_model_loaded = tf.saved_model.load_v2(input_saved_m

[2020-10-29 19:26] bnascimento commented on #207
Hi guys, good evening.
I was able to convert and build the TRT engines for a TF OD API 2.0 model. With a similar code to what @Snixells wrote above.
Now my question is, do we have a c++ snippet inference example for a converted TF-TRT model? There is no clear example for this as pointed out in this issue: https://forums.developer.nvidia.com/t/run-tf-trt-graph-through-tf-c-api/73326/3
Any ideas?
Th

[2020-11-06 02:07] alanpurple opened #222 "estimator->pb->tftrt->build not working"
converter build with converter from tf.estimator pb is not working

[2020-11-12 12:05] maodou-shushu commented on #152
Is the problem solved?
I have the same problem.

[2020-11-16 02:58] #214 closed

[2020-11-17 13:49] sebastin-ajay opened #224 "Error converting multilingual universal sentence encoder to TensorRT. Input 1 of node StatefulPartitionedCall was passed float from statefulpartitionedcall_args_1:0 incompatible with expected resource."
I'm getting below error while converting multilingual universal sentence encoder(https://tfhub.dev/google/universal-sentence-encoder-multilingual/3) to TensorRT using `TrtGraphConverterV2`

`InvalidArgumentError: Input 1 of node StatefulPartitionedCall was passed float from statefulpartitionedcall_args_1:0 incompatible with expected resource.`

Below is the Colab link : https://colab.research.goog

[2020-12-01 06:23] XiaofengZHOU commented on #202
Did you solve this problem？ thx

[2020-12-10 07:27] #173 closed

[2020-12-11 20:51] lminer commented on #224
I'm getting a similar issue.

[2020-12-14 10:52] sandeepganage opened #227 "Converting VGG19 model to TensorRT Engine : Shape Error in nvinfer1::rt::anonymous-namespace'::executeReshape: reshape would change volume"
I ran following command to convert tf model to onnx:
python -m tf2onnx.convert --saved-model "saved-model-path/" --output "path-output-model.onnx" --opset 12 --verbose

============================================================

It gave me following output:
12:27:27,777 - INFO - tf2onnx.tfonnx: Using tensorflow=2.1.0, onnx=1.7.0, tf2onnx=1.7.1/796841
12:27:27,777 - INFO - tf2onnx.tfonnx: Using o

[2020-12-14 22:42] DEKHTIARJonathan commented on #227
`tf2onnx` has nothing to do with this project, please refer to: https://github.com/onnx/tensorflow-onnx

[2020-12-14 22:42] #227 closed

[2020-12-15 07:08] vivva commented on #84
I am also doing openpose. I tried both, but it still have some wrong  when my tensorflow is 1.4.1. What can I do?

from tensorflow.python.compiler.tensorrt import trt

ModuleNotFoundError: No module named 'tensorflow.python.compiler'

import tensorflow.contrib.tensorrt as trt

ModuleNotFoundError: No module named 'tensorflow.contrib.tensorrt'

[2020-12-15 11:30] Spidy20 commented on #84
Put that import line into a comment. that's all.

On Tue, Dec 15, 2020 at 12:38 PM vivva <notifications@github.com> wrote:

[2020-12-16 00:31] vivva commented on #84
I just creat a new environment when I change the tensorflow from 1.4.1 to 1.14 and it works! Thank you very much !

[2020-12-16 02:42] Spidy20 commented on #84
Glad to hear it!

On Wed, Dec 16, 2020 at 6:01 AM vivva <notifications@github.com> wrote:

[2020-12-16 19:29] lminer commented on #195
I'm seeing this issue as well, although `TF_DEBUG_TRT_ALLOW_INEFFICIENT_TRANSPOSE=1` seems to help, at least with small loads

[2020-12-17 12:14] keivanmoazami commented on #136
I have same problem when convert centernet_res50_512 from tensorflow zoo model to trtengine.
`OP_REQUIRES failed at trt_engine_resource_ops.cc:195 : Not found: Container TF-TRT does not exist. (Could not find resource: TF-TRT/TRTEngineOp_0_6)
`
(Could not find resource: TF-TRT/TRTEngineOp_0_11)
(Could not find resource: TF-TRT/TRTEngineOp_0_12)
(Could not find resource: TF-TRT/TRTEngineOp_0_2)
(Co

[2020-12-18 13:47] 257kb opened #228 "Error 'Tensor must be at least a vector, but saw shape: []' when tensorRT optimizing with converter.Build() string input base64 servable"
## Description
I tried to optimize a tensorflow 2+ simple classification model using tensorRT with as input a string as I want to serve with tensorflow serving with base64 input. But when it reaches the converter.build() function, I get this error:

`    inputs, attrs, num_outputs)
tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.
  (0) Invalid argument:  Tensor

[2020-12-18 21:10] dshahrokhian opened #229 "KeyError: "The name 'input_word_ids:0' refers to a Tensor which does not exist. The operation, 'input_word_ids', does not exist in the graph.""
While trying to convert a RoBERTa model, `tf-trt` complains about `input_word_ids` not being in the graph. Nonetheless, if I run:
[code]
it clearly shows the input as part of the graph:

[code]

Any ideas?

[2020-12-18 23:47] vilmara opened #230 "How to optimize an object detection model as TF-TRT INT8 with NMS enable?"
Hi, is there some sample on how to optimize an object detection model as TF-TRT INT8 with NMS enable?

[2020-12-29 03:35] my777777 opened #231 "Run Bert-like model failed in tensorflow-trt container: Could not initialize cublas"
I have a model like Bert running on tensorflow 1. X, and the hardware is T4. And I'm trying to speed it up with TRT.

I found that NGC has provided docker integrated with tensorflow and TRT, so I used it.

In nvcr.io/nvidia/tensorflow:19.10-py3, the model test passed, but the performance didn't improve at all.
I think TRT 6 may not have any acceleration effect on the model, and then I tried to use

[2020-12-29 20:26] DEKHTIARJonathan commented on #230
Can you be a bit more specific on what you tried to execute and what didn't work ?

And I mean didn't work: did it crash or no optimization ?

[2020-12-30 16:28] vilmara commented on #230
Thanks for your reply. I mean It doesn't work since there is no optimization after converting the model to TF-TRT INT8.

I am trying to deploy the optimized model TF-TRT INT8 faster_rcnn_inception_v2_coco_2018_01_28 using DeepStream-Triton container. I am using as an example this blog https://developer.nvidia.com/blog/deploying-models-from-tensorflow-model-zoo-using-deepstream-and-triton-inference

[2021-01-04 17:14] Wheest opened #232 "Tensorflow Serving on Jetson platform"
The [following guide](https://medium.com/tensorflow/optimizing-tensorflow-serving-performance-with-nvidia-tensorrt-6d8a2347869a) shows how it is possible to run TF-TRT with Tensorflow serving, which is a very useful deployment workflow.

However, I am trying to run on a Jetson platform, and can't seem to get a container image which works.  This [official container image](https://ngc.nvidia.com/cat

[2021-01-05 01:43] DEKHTIARJonathan commented on #232
@bixia1 question about TF Serving & Jetson

[2021-01-05 17:14] bixia1 commented on #232
@Wheest Is this what you are looking for https://hub.docker.com/r/helmuthva/jetson-xavier-tensorflow-serving ?

[2021-01-05 18:05] Wheest commented on #232
Thanks for looking at this @bixia1.

It could potentially do the job, however it's an old image for JetPack 4.2.1, rather than the latest JetPack 4.4.  The [original project repo](https://github.com/helmut-hoffer-von-ankershoffen/jetson/tree/master/workflow/deploy/tensorflow-serving) is very geared to k8s, so I'm having difficulty figuring out how to adapt it to my needs.

Someone on the NVidia fo

[2021-01-05 20:40] DEKHTIARJonathan commented on #232
Triton is the recommended approach supported by NVIDIA.
If you have issues with regards to Triton, please open an issue here: https://github.com/triton-inference-server/server

I'm closing this issue since it's not a TF-TRT issue.

[2021-01-05 20:40] #232 closed

[2021-01-07 20:08] dshahrokhian opened #233 "Cannot convert TF-Text Tokenizer to TensorRT"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0
- Pyt

[2021-01-07 20:09] dshahrokhian commented on #233
Related, perhaps cannot convert lookup tables: https://github.com/tensorflow/text/issues/486

[2021-01-07 22:37] vilmara commented on #119
Hi @mankeyboy, could you please assist?. I am trying to optimize the model faster_rcnn_inception_v2 with INT8 & NMS but getting some errors at the calibration step, I am running the `test.py `sample within the docker image `nvcr.io/nvidia/tensorflow:20.01-tf1-py3`

Here are the json parameters:
[code]

[code]

[2021-01-08 00:17] DEKHTIARJonathan commented on #119
@bixia1 : could this be related to the issue you described ?

[2021-01-08 02:13] vilmara commented on #230
Hi @DEKHTIARJonathan, I have found that the branch r1.14 (which supports TF1.14 and 1.15) has the implementation of the `object_detection.py ` script for INT8 with NMS optimization, so I switched to this branch to optimize my model with INT8+ NMS running the script within the docker image `nvcr.io/nvidia/tensorflow:20.02-tf1-py3`, but now I am getting the errors I have reported in the issue #119

[2021-01-08 03:06] vilmara commented on #230
Solved!

I have changed minimum_segment_size from 2 to 3 `minimum_segment_size=3` at the `object_detection.py` script as mentioned in #45, also updated the json file as below:
[code]

Result:
[code]

[2021-01-08 03:06] #230 closed

[2021-01-11 22:56] DEKHTIARJonathan commented on #233
@bixia1 It's an issue with core TF. Can you look it up ?
Thanks

[2021-01-13 22:43] vilmara opened #234 "[Object Detection]: Incomplete shape - 1752 ops no flops stats due to incomplete shapes."
Branch: r1.14

Hi all, I am using the script `https://github.com/tensorflow/tensorrt/tree/r1.14%2B/tftrt/examples/object_detection` to optimize the model faster_rcnn_inception_v2 and got the below warning:
[code]

[code]
  (0) Invalid argument: Input shape axis 0 must equal 8, got shape [5,600,1024,3]
         [[{{node Preprocessor/unstack}}]]
         [[SecondStagePostprocessor/BatchMultiClassNon

[2021-01-14 15:34] vilmara opened #235 "Object Detection in TF 2.0 Missing force_nms_cpu optimization"
Why object detection in TF 2.0 doesn't include force_nms_cpu optimization as it was included in the branch r1.14?

[2021-01-14 15:36] vilmara opened #236 "Object Detection in TF 2.0 missing orce_nms_cpu optimization"
Why object detection in TF 2.0 doesn't include force_nms_cpu optimization as it was included in the branch r1.14?

[2021-01-14 15:37] vilmara commented on #236
issue duplicated with #235

[2021-01-14 15:37] #236 closed

[2021-01-29 13:29] 1arctic commented on #84
version=2.4.0，it doesn't work

[2021-01-29 13:34] Spidy20 commented on #84
@1arctic  go with the TF 1.x. and try once again, can you tell me what is the error which you are getting?

[2021-02-02 05:57] adroit91 opened #237 "Unable to convert TF OD API model for batch size > 1"
Hi,

I'm successfully able to convert model to FP32 TensorRT as well as FP16 TensorRT as long as my batch size is set to 1. But, as soon as I try increasing batch size (even to 2), I get errors.

Model config:
[Model TF OD API configuration](https://lilablobssc.blob.core.windows.net/models/camera_traps/megadetector/md_v4.1.0/md_v4.1.0.config)

Switches I use (with [Object Detection script] (https:

[2021-02-05 07:40] Sreerag-ibtl commented on #63
Hi, facing the exact same issue. I am using TF2.3  in Jetson Nano. Dynamic batch shapes are used. Some ops such as Reshape are not converted.

[2021-02-06 08:54] greatsharma opened #238 "Unable to convert tensorflow saved model to tensorrt"
## Description

Unable to convert tensorflow saved model to tensorrt.

## Environment

**TensorRT Version**:  7.0
**GPU Type**:  Quadro 5000
**Nvidia Driver Version**:  440.33.01
**CUDA Version**:  10.2
**CUDNN Version**:  7.6.5
**Operating System + Version**: ubuntu 18.04 LTS
**Python Version (if applicable)**:  3.6.9
**TensorFlow Version (if applicable)**:  2.3.2

I am using the below code for t

[2021-02-10 04:51] greatsharma commented on #238
done, instead of using tensorflow inbuilt tensorrt api I rather used standalone tensorrt i.e., `import tensorrt as trt` and now it is working fine.

[2021-02-10 04:51] #238 closed

[2021-02-16 10:00] azmathmoosa commented on #136
Any luck @keivanmoazami   did you manage to solve it?

Getting same problem for a keras model. I am not using a container.
`
2021-02-16 15:23:52.069440: W tensorflow/core/framework/op_kernel.cc:1767] OP_REQUIRES failed at trt_engine_resource_ops.cc:196 : Not found: Container TF-TRT does not exist. (Could not find resource: TF-TRT/TRTEngineOp_0_1)
2021-02-16 15:23:52.069604: W tensorflow/core/frame

[2021-03-03 03:50] ericxsun commented on #205
I met the same problem on tf-2.4.1

[2021-03-03 09:50] ericxsun commented on #103
I met the same problem on TensorFlow 2.4.1 + TensorRT 6.0.1 with bert fine-tuned model

[code]

[2021-03-03 09:53] ericxsun opened #240 "converted model pb too large"
We tested it following the blog [Leveraging TensorFlow-TensorRT integration for Low latency Inference](https://blog.tensorflow.org/2021/01/leveraging-tensorflow-tensorrt-integration.html), and got **a very large saved model**

**ENV**
- Tensorflow: 2.4.1
- TensorRT: 6.0.1
- Cuda: 10.1
- cudnn: 7.6

**size before and after convert**

convert a model finetuned with bert

[code]

[2021-03-14 13:53] JamesTsao15 opened #241 "how to fix the tensorflow problem?"
Error massage:
      Traceback (most recent call last):
        File "run_webcam.py", line 8, in <module>
          from tf_pose.estimator import TfPoseEstimator
        File "C:\Users\james\Desktop\pose estimation\tf-pose-estimation\tf_pose\__init__.py", line 5, in <module>
          from tf_pose.runner import infer, Estimator, get_estimator
        File "C:\Users\james\Desktop\pose estimation\tf

[2021-03-29 11:26] ukucukas commented on #207
I got the same error when converting an efficientnet based object detection model. @bnascimento How did you convert it? Can you share your script if possible?

[2021-03-30 07:13] Some-random commented on #87
Hi @pooyadavoodi we're having the same issue with TensorRT not supporting tf.while_loop. Is while_loop supported in TensorRT yet?

[2021-03-30 08:14] Some-random opened #244 "Supporting while loop in tensorflow 2.4"
I'm wondering whether TensorRT supports while loop under tensorflow 2.4. We want to convert a transformer based model to TensorRT but we're having issue with the while loop in transformer decoder.

[2021-03-30 08:16] Some-random opened #245 "What does lower_control_flow mean in TensorRT?"
What is the meaning of [lower_control_flow](https://github.com/tensorflow/tensorflow/blob/765ac8d16eff6d6ff997ee73809b402d8b1194ae/tensorflow/python/framework/convert_to_constants.py#L380) in TensorRT? We're seeing different issues setting lower_control_flow toTrue or False.

[2021-03-30 08:31] Some-random opened #246 "Problem transforming tensorflow model to tensorrt"
We're having issue transforming tensorflow model (with embedding) to try. But the following error occurred.

[code]

It seems to indicate we should pass a float variable to tf.keras.layers.embedding but the input to embedding layer should be integers...

[2021-04-05 18:08] hoangmt opened #249 "Multiple threads for tf-trt"
Assume I have two threads, each run same structure, different weights tf-trt models. Will the time cut by half, compared to running two models in sequence? I am experimenting with efficientdet models but two threads approach does not reduce the time that much.

[2021-04-06 12:39] neso613 opened #250 "TF-TRT model is 3 time to TF model"
Hi
I am trying to convert TF model into TRT engine.
I have tried this code -
`params = tf.experimental.tensorrt.ConversionParams(
    precision_mode='FP16')
converter = tf.experimental.tensorrt.Converter(
    input_saved_model_dir="my_dir", conversion_params=params)
converter.convert()
converter.save(output_saved_model_dir)`
Converted model size is 3 time to TF model and also, converted model is n

[2021-04-07 06:50] neso613 commented on #250
When I tried to build,

`def my_input_fn():
# Input for a single inference call, for a network that has two input tensors:
  inp1 = np.random.normal(size=(1, 224, 128, 1)).astype(np.float32)
  yield (inp1)

**converter.build(input_fn=my_input_fn)**
converter.save(output_saved_model_dir= 'TF-TRTengine')`

ERROR-
`InvalidArgumentError:  Expected begin and size arguments to be 1-D tensors of size 3,

[2021-04-07 07:31] neso613 commented on #250
LOGs while conversion-

onverting to TF-TRT FP16...
INFO:tensorflow:Linked TensorRT version: (0, 0, 0)
INFO:tensorflow:Loaded TensorRT version: (0, 0, 0)
INFO:tensorflow:Assets written to: TFTRT_FP16/assets
Done Converting to TF-TRT FP16

Why it shows **INFO:tensorflow:Linked TensorRT version: (0, 0, 0)**?

[2021-04-07 20:34] tfeher opened #251 "Shape output bug in dynamic shape mode"
If we enable dynamic shape mode, and any of the TRT segments has an output from a shape op, then conversion crashes the application.

This problem occurs in practice for MobileNet and U-Net, and could happen in other cases es well (it is a frequent pattern that Shape is followed by DataFormatVecPermute which is TRT incompatible --> network ends with shape output).

Here is a reproducer:

[code]
ou

[2021-04-11 08:17] shubhamgajbhiye1994 opened #252 "Container TF-TRT does not exist"
OP_REQUIRES failed at trt_engine_resource_ops.cc:195 : Not found: Container TF-TRT does not exist. (Could not find resource: TF-TRT/TRTEngineOp_0_1

  inputs, attrs, num_outputs)
tensorflow.python.framework.err  inputs, attrs, num_outputs)
tensorflow.python.framework.errors_impl.NotFoundError:  No algorithm worked!
         [[{{node StatefulPartitionedCall/model_2/conv1_1/Conv2D}}]]
         [[Par

[2021-04-13 08:03] louisquinn commented on #195
Hi all, is anyone still working on this? I have been experiencing this issue for a while.

For us, it only happens when running with Python. In our C++ backend we don't see this behaviour.

Below is the section of the logs that shows the ops rebuilt after about 5 mins of runtime.
After the ops are rebuilt, the program continues processing as normal. I haven't seen the ops being rebuilt again after

[2021-04-14 11:02] Damcy commented on #246
I have met a similar problem when I use TF-TRT and saved_model_cli to convert a saved model. These two methods failed when using Embedding layer.
https://stackoverflow.com/questions/67085221/failed-to-use-tf-trt-when-using-tf-keras-layers-embedding

[2021-04-15 14:08] tfeher opened #255 "BERT Large (TF2) model conversion fails"
The following code loads BERT Large model from TF Hub, and tries to convert using TF-TRT.

[code]

The conversion fails because the converted model reaches the protobuf size limit. The following error is printed to the terminal:
[code]
### Problems

#### 1. Error message
When executing the script from a Jupyter notebook, we see only the following message, which is not helpful. TF-TRT should provid

[2021-04-15 14:18] tfeher commented on #255
To debug the problem, I have copied the code from trt_convert.py here:
[code]

This last step returns an empty graph def, we should throw an error in that case, to avoid the misleading error in Problem 1 cited above.

[2021-04-15 17:26] bixia1 commented on #233
@dshahrokhian I am working on fixing this,  the sentencepiece.bpe.model I found has a size of 5069051B. What is the size of your model?  I am looking for a model with a size < 2MB for the reproducer, so that I can check in a test case to the tensorflow tree.

[2021-04-15 18:01] bixia1 commented on #233
never mind, I found a model for this

[2021-04-16 00:12] bixia1 commented on #251
The problem is that the GPU ShapeOp has its output in host memory, see [here](https://github.com/tensorflow/tensorflow/blob/246a89698b88f7ae7587b264fd0d5d40864dc7b9/tensorflow/core/kernels/shape_ops.cc#L39-L40)

Now can we represent such an TRTEngineOp, when executing on TRT the output is in GPU but when execute in native segment the output is in CPU?

Other possible solutions: to insert another o

[2021-04-16 12:45] tfeher commented on #255
@bixia1 While the conversion of TF Hub Bert models fail, there are other versions of the BERT large models can be converted with TF-TRT. This includes the [NGC Bert models](https://ngc.nvidia.com/catalog/models/nvidia:bert_tf_ckpt_large_qa_squad11_amp_384), and also [HuggingFace Bert large models](https://huggingface.co/bert-large-uncased). Here is a script which demonstrate HuggingFace BERT model

[2021-04-16 18:30] DEKHTIARJonathan commented on #255
CC: @pkanwar23 @sanjoy @WhiteFangBuck
We talked about it this Wednesday ;)

[2021-04-20 18:03] bixia1 commented on #251
I have a fix for this. It turns out that we just need to mark such outputs with host memory.

[2021-04-21 12:32] luckycallor commented on #196
@luvwinnie
I have the same problem. Do you have any idea to solve it?

[2021-04-21 12:48] luvwinnie commented on #196
@luckycallor sorry I haven't solve this problem yet. So i didn't use tensorRT currently

[2021-04-21 18:31] bixia1 commented on #233
I have a two line change to fix this, see [my github branch](https://github.com/bixia1/tensorflow/tree/convert_variables_to_constants_v2_bug)

There is a corresponding fix in google,  to be review within google,

[2021-05-01 06:17] fsy2000 opened #256 "No improvement using TensorRT5"
* system: Ubuntu 16.04
* python: 3.6.13
* tensorflow: 1.15.0
* TensorRT: 5.0.2.6

At first, I installed TensorRT7 but it gave me an error when looking for 'libnvinfer.so.5'. There is no 'libnvinfer.so.5' but a 'libnvinfer.so.7' instead. Then I installed TensorRT5 and followed the instructions [here](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html#using-savedmodel). Thi

[2021-05-04 10:56] ramadevsaiteja opened #257 "Tensorflow Tensorrt model not working properly in for loop"
I converted my model to tf-trt and it's working fine if run on single image. When I am trying to run on a folder, it's not detecting anything on some images and if i run on those undetected images again separately model is working fine. Below is the code I am using. Also if I read normal tf graphdef instead of tf-trt graphdef at line with tf.gfile.GFile("east_trt_graph_32_batchnorm.pb", 'rb') as f

[2021-06-01 18:48] azarkiel commented on #84
tensorflow=2.5.0
It doesn't work

[2021-06-04 10:42] Selventhiranraj opened #258 "Very Low Validation Accuracy for Resnet50 and Resnet101 models using TF-TRT"
I'm getting 0.1% as Top 1 accuracy for the validation of Resnet50 and Resnet101 models using the TF-TRT.
Validation script: https://github.com/tensorflow/tensorrt/blob/master/tftrt/examples/image-classification/image_classification.py
Dataset : Imagenet
Model : https://tfhub.dev/tensorflow/resnet_50/classification/1
Preprocess method : vgg

Why is the accuracy very low?? Any help/suggestions appre

[2021-06-07 19:19] DEKHTIARJonathan commented on #258
I'm unfortunately unable to reproduce your issue. We are routinely running these benchmarks and we never had such issue.

Here are a few ideas to investigate:

- try not to convert the model with TF-TRT and just use normal to TF to conduct inference:
[code]
A) If that works perfectly, there might be an issue in TF-TRT.
B) If that doesn't, the issue comes from either: your checkpoint/SavedModel is

[2021-06-10 09:07] Tailwhip commented on #176
I have same problem. I'm quantizing a model to reduce the size, not to make it larger :/

[2021-06-14 07:02] dtlam26 commented on #126
**For: Can't provision more than one single cluster at a time**

I believe this is caused as the graph is preloaded and havent successfully convert. Therefore, when you use jupyter to rerun, the GPU mem is not released. You should check the graph again to verify whether the outputs are correct. Every time convert fails, restart the jupyter kernel.

[2021-06-14 07:11] dtlam26 commented on #126
**For: Failed to import metagraph, check error log for more info**
If you use jupyter notebook, pls check the result print in the terminal console. There will be a hint which node you are typing incorrect name. I suggest you should check tensorboard for the whole graph to graph correct name for the outputs

[2021-06-16 12:11] justmert commented on #252
That warning is issued because internally TensorFlow calls the TensorRT optimizer for certain objects unnecessarily so the warning can be ignored.

[See](https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/rel_19.11.html) the documentation.

[2021-06-16 13:07] tfeher commented on #251
The problem still exist. Here is a modified reproducer, which adds a TRT incompatible op (DataFormatVecPermute) followed by other TRT compatible ops:

[code]

This results in a segfault during/after native segment execution:
[code]